.in-chat-root-area-section {
  padding: 0;
  margin: 0;
  position: relative;

  .in-chat-root-area-div {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
  }
}

.in-chat-root-area-left-div {
  padding: 24px 5px 0 46px;
  width: calc(100% - 630px);

  .in-char-root-ltop-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 31px 0 15px 0;
    border-bottom: 1px solid #e0e3e9;
    width: calc(100% - 30px);
    margin-right: 30px;

    .title-div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .btn.btn-back-auth {
        height: 46px;
        width: 46px;

        .material-icons {
          font-size: 30px;
        }
      }

      h2 {
        font-size: 29px;
        line-height: 1.3;
        font-weight: 600;
        letter-spacing: 0px;
        color: #00142f;
        padding: 0 0 0 50px;
        max-width: calc(100% - 46px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .btn-nav-list-div {
      .btn-nav-list-ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;

        .btn-nav-items {
          margin: 0 25px 10px 0;

          &:last-child {
            margin-right: 15px;
          }
        }

        .btn-common-danger {
          .icon-span {
            width: 32px;
            text-align: left;
            display: flex;
            position: relative;

            .telephone-button {
              background-position: 0 2px;
            }
          }

          .mr-6px {
            margin-right: 6px;
          }
        }

        .btn.btn-icon {
          border-radius: 10px;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 46px;
          min-height: 46px;

          .microphone-icon {
            width: 16px;
            height: 24px;
          }

          .bg-custom-icon {
            background-position: center;
            transition: opacity 0.8s;
          }

          .icon-none {
            display: none;
          }

          &.active {
            box-shadow: none;
            background: transparent linear-gradient(132deg, #fc711a 0%, #f7b733 100%);

            .icon-view {
              display: none;
              opacity: 0;
            }

            .icon-none {
              opacity: 1;
              display: inline-block;
            }
          }
        }

        .btn.dropdown-toggle {
          &::after {
            display: none;
          }
        }

        .volume-btn-dropdown-menu {
          box-shadow: 0px 3px 6px #00000029;
          border: 1px solid #eaeaea;
          border-radius: 10px;
          width: 46px;
          min-width: 46px;
          left: 0 !important;
          margin-top: 13px;

          .btn-volumn-icon {
            border: none;
            background: transparent;
            outline: none;
            box-shadow: none;
            width: 100%;
          }

          .range-slider-custom {
            min-height: 155px;

            .slider {
              height: 2px;
              background-color: #e0e3e9;
              padding: 0;
              -webkit-box-shadow: none;
              box-shadow: none;
              outline: 0;
              -webkit-appearance: none;
              transform: rotate(90deg) translate(calc(50% - 5px), 45px);
              width: 135px !important;

              &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                background: transparent linear-gradient(144deg, #0072ff 0%, #00c6ff 100%);
                border-radius: 10px;
                opacity: 1;
                width: 14px;
                height: 14px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  .in-char-root-lbody-div {
    padding: 30px 20px 0 0;
    margin: 0;
    width: 100%;
    max-height: calc(100vh - 127px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.group-video-bx-card {
  padding: 0;
  margin: 0 0 36px 0;
  position: relative;
  width: 100%;
  border-radius: 25px;

  .group-video-bx-inner-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #00142f;
    width: 100%;
    border-radius: 25px;
    min-height: 297px;

    &::before {
      content: "";
      background: transparent linear-gradient(180deg, #0000009d 0%, #00000000 100%);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 25px;
      opacity: 0.4;
    }

    .tpl-group-video-bx {
      padding: 0;
      margin: 0;
      position: absolute;
      top: 22px;
      left: 30px;
      width: calc(100% - 60px);
      z-index: 3;

      .in-call-group-uc-row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .in-call-group-uc-left {
          width: 29px;
          display: flex;

          .img-fluid {
            border-radius: 99px;
            height: 29px;
            width: 29px;
            object-fit: cover;
          }
        }

        .in-call-group-uc-right {
          width: calc(100% - 29px);
          padding: 0 0 0 7px;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          p {
            font-size: 18px;
            line-height: 1.5;
            font-weight: 600;
            color: #fff;
            max-width: calc(100% - 55px);
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
          }

          .btn-audio {
            display: flex;
            margin: 0 0 0 15px;

            .microphone-icon {
              width: 13px;
              height: 19px;
            }

            .un-mute-microphone-icon {
              width: 16px;
              height: 19px;
            }
          }
        }
      }
    }

    .tb-group-video-bx {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .in-call-group-user-thumb {
        width: 100%;
      }

      .img-thumb {
        display: flex;
        flex-wrap: wrap;
      }

      .img-responsive {
        border-radius: 25px;
        height: 297px;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &.active {
    .group-video-bx-inner-card {
      border: 4px solid #f98d29;
      border-radius: 30px;
      min-height: 289px;

      .tb-group-video-bx {
        .img-responsive {
          max-height: 289px;
        }
      }
    }
  }

  &.active-in {
    .group-video-bx-inner-card {
      .tb-group-video-bx {
        padding: 8px 0 0 0;

        .in-call-group-user-thumb {
          width: auto;
          background: #00142f;
          position: relative;

          .img-div {
            border: 15px solid #f8962c45;
            border-radius: 999px;
          }

          .img-thumb {
            border: 10px solid #8b5e2d;
            border-radius: 999px;
          }

          .img-responsive {
            height: 106px;
            width: 106px;
            border: 3px solid #f98d29;
            border-radius: 999px;
          }
        }
      }
    }
  }

  &.active.active-in {
    .group-video-bx-inner-card {
      min-height: 297px;
    }
  }
}

.in-chat-root-area-right-div {
  padding: 24px 28px 0 10px;
  width: 630px;
  position: sticky;
  top: 0;
}

.in-chat-mp-card-div {
  padding: 0;
  margin: 0;
  background: #eff2f6;
  border-radius: 15px;
  position: relative;

  .in-chat-mp-top-div {
    padding: 31px 34px 25px 40px;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e3e9;

    .in-chat-mp-top-left-div {
      h2 {
        font-size: 29px;
        line-height: 1.3;
        font-weight: 600;
        letter-spacing: 0;
        color: #00142f;
        padding: 0;
      }
    }

    .in-chat-mp-top-right-div {
      padding: 0;
      margin: 0;
      position: relative;

      .nav-tabs {
        border-bottom: 0;

        .nav-item {
          margin: 0 18px 0 0;

          &:last-child {
            margin-right: 0;
          }

          .nav-link {
            padding: 0.5rem 15px;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0;
            color: #002855;
            min-height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            border: none;
            font-weight: 600;
          }

          .nav-link.active {
            padding: 0.5rem 25px;
            background: transparent linear-gradient(107deg, #0072ff 0%, #009aff 48%, #00c6ff 100%);
            color: #fff;
          }
        }
      }
    }
  }

  .in-chat-mp-body-div {
    min-height: calc(100vh - 150px);
  }

  .chat-box {
    padding: 0;
    margin: 0;
    position: relative;
    border: 0;
    background-color: transparent;
    justify-content: space-between;
    height: calc(100vh - 150px);

    .card-body {
      padding: 20px 10px 0 10px;
      margin: 0;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      overflow-y: auto;

      .card-body-row {
        padding: 0 0 7px 0;
        margin: 0;
        position: relative;
        overflow: auto;

        .chat-item {
          padding: 8px 20px;
          margin: 0 0 17px 0;
          position: relative;
          display: flex;
          align-items: flex-end;
          flex-wrap: wrap;
          width: 100%;

          .user-img-thumb {
            padding: 0 0 5px 0;
            width: 48px;
            display: flex;

            .img-user {
              height: 48px;
              width: 48px;
              border-radius: 100px;
              object-fit: cover;
              border: 3px solid #fff;
            }
          }

          .chat-details {
            padding: 0 0 0 23px;
            position: relative;
            width: calc(100% - 48px);
          }

          .chat-user {
            font-weight: 600;
            font-size: 15px;
            line-height: 1.2;
            letter-spacing: 0;
            margin: 0 0 5px 0;
            color: #00142f;
          }

          &.chat-left {
            .chat-text {
              font-weight: 500;
              font-size: 20px;
              line-height: 24px;
              color: #00142f;
              letter-spacing: 0;
              padding: 5px 5px 5px 21px;
              background: #fff;
              border-radius: 20px 20px 20px 20px;
              margin: 0 0 5px 0;
              width: auto;
              display: inline-block;
              max-width: calc(100% - 60px);
              box-shadow: 0px 1px 2px #dbe0e8;
              position: relative;
              min-height: 75px;

              &::before {
                content: "";
                width: 76px;
                height: 75px;
                display: inline-block;
                position: absolute;
                left: -12px;
                bottom: 0;
                background: url(../images/chat/pattern-01.svg) no-repeat;
              }

              .chat-text-inner {
                padding: 5px 41px 5px 5px;
                min-height: 61px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                position: relative;
              }
            }
          }

          .chat-file-inner {
            padding: 0 2px 0 5px;
            min-height: 61px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            position: relative;

            .chat-file-inner-row {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              width: 100%;
              color: #00142f;

              .chat-file-inner-left {
                width: calc(100% - 63px);
                padding: 0 15px 0 0;
                min-width: 170px;
              }

              .chat-file-inner-right {
                width: 63px;
              }

              h4 {
                font-size: 20px;
                line-height: 24px;
                font-weight: 500;
                letter-spacing: 0;
                color: #00142f;
              }

              p {
                font-size: 18px;
                line-height: 26px;
                font-weight: 500;
                letter-spacing: 0;
                color: #86a3cb;
              }

              .file-icon-bx {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 63px;
                height: 63px;
                background: #ffeedb;
                border-radius: 12px;
              }
            }
          }

          &.chat-right {
            justify-content: flex-start;
            padding: 0 0 0 71px;

            .chat-text {
              font-weight: 500;
              font-size: 20px;
              line-height: 24px;
              color: #fff;
              letter-spacing: 0;
              padding: 5px 5px 5px 21px;
              background: #002855;
              border-radius: 20px 20px 20px 20px;
              margin: 0 0 5px 0;
              width: auto;
              display: inline-block;
              max-width: calc(100%);
              box-shadow: 0px 1px 2px #dbe0e8;
              position: relative;
              min-height: 75px;

              &::before {
                content: "";
                width: 76px;
                height: 75px;
                display: inline-block;
                position: absolute;
                right: -15px;
                bottom: 0;
                background: url(../images/chat/pattern-02.svg) no-repeat;
              }

              &::after {
                content: "";
                background: #0a2855;
                height: 100%;
                width: 100px;
                position: absolute;
                right: 25px;
                top: 0;
              }

              .chat-text-inner {
                padding: 5px 25px 5px 5px;
                min-height: 61px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                position: relative;
                z-index: 3;
              }
            }

            .chat-file-inner {
              z-index: 3;
              padding-left: 0;
              margin-left: -15px;
              padding-top: 1px;

              .chat-file-inner-row {
                color: #fff;

                .chat-file-inner-left {
                  padding: 0 15px 0 27px;
                }

                .file-icon-bx {
                  background: #f98d29;
                }

                h4 {
                  color: #fff;
                }
              }
            }
          }
        }

        .chat-row-new-join {
          padding: 8px 20px;
          margin: 0 auto 17px auto;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          width: calc(100% - 50px);

          &::before {
            content: "";
            height: 1px;
            width: 100%;
            background: #e0e3e9;
            position: absolute;
          }

          .nj-chat-details {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
            justify-content: center;
            padding: 0 13px 0 16px;
            background: #eff2f6;

            .nj-img-thumb {
              width: 48px;
              display: flex;

              .img-user {
                height: 48px;
                width: 48px;
                border-radius: 100px;
                object-fit: cover;
                border: 3px solid #fff;
              }
            }

            .nj-chat-user {
              font-size: 18px;
              letter-spacing: 0;
              line-height: 22px;
              color: #00142f66;
              font-weight: 500;
              padding: 0 0 0 23px;
              max-width: calc(100% - 48px);
            }
          }
        }
      }
    }

    .card-footer {
      padding: 10px 23px 18px 30px;
      margin: 0;
      position: relative;
      border: none;
      background-color: transparent;

      .card-footer-row {
        padding: 0;
        margin: 0;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .card-form {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          position: relative;

          .left-file-div {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;

            label {
              min-height: 82px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 12px 0 23px;
              cursor: pointer;
            }
          }

          .btn-file-div {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 10px 0 0;
            height: 82px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          textarea.form-control {
            width: 100%;
            height: 82px;
            font-size: 20px;
            line-height: 24px;
            font-weight: 500;
            resize: none;
            padding: 28px 80px 20px 75px;
            border: transparent;
            outline: none;
            background: #fff;
            box-shadow: 0px 3px 6px #e1e7ef;
            border-radius: 20px;
            letter-spacing: 0;
            color: #00142f;
            vertical-align: middle;
          }

          .btn.btn-primary {
            width: 63px;
            height: 63px;
            border-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent linear-gradient(315deg, #f7b733 0%, #fc711a 100%);
            outline: none;
            border-radius: 12px;
            padding: 10px 8px 8px 10px;
            box-shadow: none;

            .send-button-icon {
              background-position: center;
              width: 27px;
              height: 27px;
            }
          }
        }
      }

      .top-typying-div {
        .top-typying-row-div {
          padding: 0;
          margin: 0 0 20px 0;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;

          .top-typying-left-div {
            height: 48px;
            width: 48px;
            display: flex;
            align-items: center;
            justify-content: center;

            .round-bx {
              background: #fff;
              height: 48px;
              width: 48px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 100%;
              padding: 5px 0 0 0;

              .dot {
                background: #c3cede;
                height: 6px;
                width: 6px;
                display: inline-block;
                border-radius: 100px;
                margin: 0 2px;
                animation-duration: 0.4s;
                animation-timing-function: ease-in-out;
                animation-delay: 0;
                animation-iteration-count: infinite;
                animation-direction: alternate;

                &.dot1 {
                  // animation-name: dot-up-down1 ;
                }

                &.dot2 {
                  background: #d2dae5;
                  transform: translateY(-5px);
                  // animation-name: dot-up-down2;
                }

                &.dot3 {
                  // animation-name: dot-up-down1 ;
                }

                @keyframes dot-up-down1 {
                  from {
                    transform: translateY(0px);
                  }
                  to {
                    transform: translateY(-5px);
                  }
                }

                @keyframes dot-up-down2 {
                  from {
                    transform: translateY(-5px);
                  }
                  to {
                    transform: translateY(0);
                  }
                }
              }
            }
          }

          .top-typying-right-div {
            width: calc(100% - 48px);
            padding: 0 0 0 16px;

            p {
              font-size: 18px;
              letter-spacing: 0;
              line-height: 22px;
              color: #00142f66;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

.in-chat-participants-root-div {
  .in-chat-participants-inner-div {
    padding: 24px 10px 0 10px;
  }

  .participent-list-main {
    max-height: calc(100vh - 174px);
    overflow-y: auto;
  }

  .participent-list {
    ul.list {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      list-style: none;
      flex-direction: column;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 13px 16px 13px 31px;
        transition: all 0.3s;

        .hover-block {
          display: none !important;
        }

        .hover-none {
          display: flex !important;
        }

        &:hover {
          transition: all 0.3s;

          .hover-none {
            display: none !important;
          }

          .hover-block {
            display: flex !important;
          }
        }

        &.active {
          background-color: #f7f8fa;
          transition: all 0.3s;

          &.hover-none {
            display: none;
          }

          &.hover-block {
            display: flex;
          }
        }

        .partcipent-user {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .user-img {
            height: 48px;
            width: 48px;
            border-radius: 100px;
            border: 1px solid rgba(112, 112, 112, 0.05);

            .img-fluid {
              height: 48px;
              width: 48px;
              object-fit: cover;
              border: 3px solid #ffffff;
              border-radius: 100px;
            }
          }

          .user-info {
            padding-left: 16px;
            max-width: calc(100% - 48px);

            h3 {
              font-size: 18px;
              line-height: 24px;
              color: #00142f;
              font-weight: 600;
            }

            p {
              font-size: 18px;
              line-height: 24px;
              color: rgba(0, 20, 47, 0.4);
              font-weight: 500;
            }
          }
        }

        .user-action {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;

          .action-group {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            .btn {
              margin-right: 10px;
            }

            .dropdown {
              .dropdown-toggle {
                line-height: 23px;
                box-shadow: none !important;
                display: flex;
                align-items: center;

                &:hover {
                  background-color: transparent !important;
                  color: #002855 !important;
                }

                &:focus {
                  background-color: transparent !important;
                  color: #002855 !important;
                }

                &:after {
                  content: "";
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
                  background-image: url("data:image/svg+xml,%3Csvg id='arrow-up' xmlns='http://www.w3.org/2000/svg' width='12.295' height='7.592' viewBox='0 0 12.295 7.592'%3E%3Cpath id='Path_26' data-name='Path 26' d='M7.445,15.432l4.7-4.692,4.7,4.692,1.445-1.445L12.147,7.84,6,13.987Z' transform='translate(-6 -7.84)' fill='%23002855'/%3E%3C/svg%3E%0A");
                  height: 8px;
                  top: 2px;
                  position: relative;
                  width: 12px;
                  border: 0;
                  color: #002855;
                  transform: rotate(180deg);
                  padding-left: 5px;
                  margin: 0 0 0 8px;
                }
              }

              .btn {
                margin-right: 0;
              }

              .dropdown-menu {
                box-shadow: 0px 3px 7px #00000021;
                border-radius: 10px;
                border: 1px solid #eaeaea;
                margin-top: 13px;
                margin-bottom: 13px;
                min-width: 200px;
                padding: 6px 0 12px 0;
                left: -5px !important;

                .dropdown-item {
                  padding: 8px 21px;
                  background-color: transparent;
                  color: #002855;
                  font-size: 18px;
                  font-weight: 500;

                  &:hover {
                    color: #f98d29;
                  }
                }
              }
            }

            .dropdown.show {
              .dropdown-toggle {
                &:after {
                  transition: all 0.3s ease-in-out;
                  transform: rotate(0deg);
                  top: 1px;
                }
              }
            }
          }

          .btn-squre {
            border: 1px solid #eaeaea;
            border-radius: 10px;
            opacity: 1;
            height: 46px;
            width: 46px;
            background-color: #fff;
            padding: 0 !important;
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }

            .icon {
              background-repeat: no-repeat;
              background-position: center;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 46px;
              width: 46px;
            }
          }

          .icon-mic {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.885' height='23.269' viewBox='0 0 15.885 23.269'%3E%3Cg id='mic' transform='translate(-74.577)'%3E%3Cpath id='Path_16' data-name='Path 16' d='M153.806,14.966a4.229,4.229,0,0,0,4.229-4.229V4.229a4.229,4.229,0,1,0-8.458,0v6.508A4.229,4.229,0,0,0,153.806,14.966Z' transform='translate(-71.287)' fill='%23002855'/%3E%3Cpath id='Path_17' data-name='Path 17' d='M88.234,136.147v1.485h.743v2.511a6.457,6.457,0,1,1-12.914,0v-2.511H76.8v-1.485H74.577v4a7.953,7.953,0,0,0,7.2,7.907v3.139H77.3v1.485H87.74V151.19H83.262v-3.139a7.953,7.953,0,0,0,7.2-7.907v-4H88.234Z' transform='translate(0 -129.407)' fill='%23002855'/%3E%3C/g%3E%3C/svg%3E");
          }

          .icon-mic-mute {
            background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.136' height='23.372' viewBox='0 0 23.136 23.372'%3E%3Cg id='mic-mute' transform='translate(-1128.233 -361.897)'%3E%3Cg id='microphone' transform='translate(1056.922 362)'%3E%3Cpath id='Path_16' data-name='Path 16' d='M153.806,14.966a4.229,4.229,0,0,0,4.229-4.229V4.229a4.229,4.229,0,1,0-8.458,0v6.508A4.229,4.229,0,0,0,153.806,14.966Z' transform='translate(-71.287)' fill='%23ff1a46'/%3E%3Cpath id='Path_17' data-name='Path 17' d='M88.234,136.147v1.485h.743v2.511a6.457,6.457,0,1,1-12.914,0v-2.511H76.8v-1.485H74.577v4a7.953,7.953,0,0,0,7.2,7.907v3.139H77.3v1.485H87.74V151.19H83.262v-3.139a7.953,7.953,0,0,0,7.2-7.907v-4H88.234Z' transform='translate(0 -129.407)' fill='%23ff1a46'/%3E%3C/g%3E%3Cpath id='Path_75' data-name='Path 75' d='M-663.114,301.114l19.6,18.113' transform='translate(1793.113 62.55)' fill='none' stroke='%23ff1a46' stroke-linecap='round' stroke-width='2.5'/%3E%3C/g%3E%3C/svg%3E%0A");
          }

          .icon-video {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='14.625' viewBox='0 0 26 14.625'%3E%3Cg id='video-camera' transform='translate(0 -192)'%3E%3Cpath id='Path_53' data-name='Path 53' d='M54.453,38.5a3.25,3.25,0,1,0-3.25-3.25A3.248,3.248,0,0,0,54.453,38.5Z' transform='translate(-44.693 160.965)' fill='%23002855'/%3E%3Cpath id='Path_54' data-name='Path 54' d='M214.453,38.5a3.25,3.25,0,1,0-3.25-3.25A3.248,3.248,0,0,0,214.453,38.5Z' transform='translate(-200.021 161.93)' fill='%23002855'/%3E%3Cpath id='Path_55' data-name='Path 55' d='M25.311,193.868a1.7,1.7,0,0,0-1.622-.071L19.5,195.87v-2.245A1.494,1.494,0,0,0,18.038,192H1.788A1.772,1.772,0,0,0,0,193.625V205a1.772,1.772,0,0,0,1.788,1.625h16.25A1.494,1.494,0,0,0,19.5,205v-2.245l4.23,2.074A1.8,1.8,0,0,0,24.5,205a1.423,1.423,0,0,0,.793-.243A1.571,1.571,0,0,0,26,203.375V195.25A1.555,1.555,0,0,0,25.311,193.868Zm-14.748,3.657a1.463,1.463,0,1,1,1.462-1.463A1.462,1.462,0,0,1,10.563,197.525Zm4.387,0a1.463,1.463,0,1,1,1.463-1.463A1.462,1.462,0,0,1,14.95,197.525Z' fill='%23002855'/%3E%3C/g%3E%3C/svg%3E%0A");
          }

          .icon-video-mute {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28.433' height='24.307' viewBox='0 0 28.433 24.307'%3E%3Cg id='video-mute' transform='translate(-1181.567 -309.236)'%3E%3Cg id='video-camera' transform='translate(1184 123.432)'%3E%3Cpath id='Path_53' data-name='Path 53' d='M54.453,38.5a3.25,3.25,0,1,0-3.25-3.25A3.248,3.248,0,0,0,54.453,38.5Z' transform='translate(-44.693 160.965)' fill='%23ff1a46'/%3E%3Cpath id='Path_54' data-name='Path 54' d='M214.453,38.5a3.25,3.25,0,1,0-3.25-3.25A3.248,3.248,0,0,0,214.453,38.5Z' transform='translate(-200.021 161.93)' fill='%23ff1a46'/%3E%3Cpath id='Path_55' data-name='Path 55' d='M25.311,193.868a1.7,1.7,0,0,0-1.622-.071L19.5,195.87v-2.245A1.494,1.494,0,0,0,18.038,192H1.788A1.772,1.772,0,0,0,0,193.625V205a1.772,1.772,0,0,0,1.788,1.625h16.25A1.494,1.494,0,0,0,19.5,205v-2.245l4.23,2.074A1.8,1.8,0,0,0,24.5,205a1.423,1.423,0,0,0,.793-.243A1.571,1.571,0,0,0,26,203.375V195.25A1.555,1.555,0,0,0,25.311,193.868Zm-14.748,3.657a1.463,1.463,0,1,1,1.462-1.463A1.462,1.462,0,0,1,10.563,197.525Zm4.387,0a1.463,1.463,0,1,1,1.463-1.463A1.462,1.462,0,0,1,14.95,197.525Z' fill='%23ff1a46'/%3E%3C/g%3E%3Cpath id='Path_6262' data-name='Path 6262' d='M-663.114,301.114l23.271,20.777' transform='translate(1846.446 9.887)' fill='none' stroke='%23ff1a46' stroke-linecap='round' stroke-width='2.5'/%3E%3C/g%3E%3C/svg%3E%0A");
          }
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  .in-chat-root-area-left-div {
    .in-char-root-lbody-div {
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 50px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #d4d8e0;
        border-radius: 50px;
      }
    }
  }

  .in-chat-mp-card-div {
    .chat-box {
      .card-body {
        .card-body-row {
          &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
          }

          &::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 50px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #d4d8e0;
            border-radius: 50px;
          }
        }
      }
    }

    .collpse-mobile-div {
      display: none;
    }
  }

  .in-chat-participants-root-div {
    .participent-list-main {
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 50px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #d4d8e0;
        border-radius: 50px;
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1490px) {
  .in-chat-root-area-left-div {
    padding-left: 20px;
    width: calc(100% - 585px);

    .in-char-root-ltop-div {
      .btn-nav-list-div {
        .btn-nav-list-ul {
          .btn-nav-items {
            margin: 0 10px 10px 0;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .title-div {
        h2 {
          font-size: 24px;
          padding: 0 0 0 20px;
        }
      }
    }

    .in-char-root-lbody-div {
      .mlr-20 {
        margin-right: -10px !important;
        margin-left: -10px !important;
      }

      .plr-20 {
        padding-right: 10px !important;
        padding-left: 10px !important;
      }
    }
  }

  .in-chat-root-area-right-div {
    padding: 24px 20px 0 10px;

    width: 585px;
  }

  .in-chat-mp-card-div {
    .in-chat-mp-top-div {
      padding: 31px 20px 25px 30px;

      .in-chat-mp-top-left-div {
        h2 {
          font-size: 24px;
        }
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1290px) {
  .in-chat-root-area-left-div {
    .in-char-root-ltop-div {
      width: calc(100% - 15px);
      margin-right: 15px;

      .title-div {
        h2 {
          font-size: 20px;
          padding: 0 0 0 12px;
        }
      }
    }

    .btn-nav-list-div {
      .btn-nav-list-ul {
        justify-content: flex-start;
        flex-wrap: wrap;

        .btn-nav-items {
          margin: 0 10px 10px 0;

          &:last-child {
            margin-right: 0;
          }

          .btn.btn-common-danger {
            min-width: 40px;
            padding: 7px 7px 7px 7px;

            .icon-span {
              margin: 0 !important;
              justify-content: center;
            }

            .text-span {
              display: none;
            }
          }
        }

        .btn.btn-icon {
          padding: 3px;
          min-width: 40px;
          min-height: 40px;
        }
      }
    }

    .in-char-root-lbody-div {
      padding: 30px 10px 0 0;

      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }
    }
  }

  .in-chat-root-area-right-div {
    padding: 24px 15px 0 10px;
  }

  .group-video-bx-card {
    margin: 0 0 15px 0;
    border-radius: 15px;

    .group-video-bx-inner-card {
      border-radius: 15px;
      min-height: 185px;

      .tpl-group-video-bx {
        top: 15px;
        left: 15px;

        .in-call-group-uc-row {
          .in-call-group-uc-right {
            p {
              font-size: 14px;
              max-width: calc(100% - 55px);
            }
          }
        }
      }

      .tb-group-video-bx {
        .img-responsive {
          max-height: 185px;
          height: 185px;
          border-radius: 15px;
        }
      }
    }

    &.active {
      .group-video-bx-inner-card {
        min-height: 185px;
        border-radius: 18px;
      }
    }

    &.active-in {
      .group-video-bx-inner-card {
        min-height: 185px;

        .tb-group-video-bx {
          .in-call-group-user-thumb {
            .img-thumb {
              border: 7px solid #8b5e2d;

              .img-responsive {
                height: 60px;
                width: 60px;
              }
            }

            .img-div {
              border: 8px solid #f8962c45;
            }
          }
        }
      }
    }

    &.active.active-in {
      .group-video-bx-inner-card {
        min-height: 185px;
      }
    }
  }
}

@media (max-width: 767px) {
  .in-chat-root-area-left-div {
    padding: 20px 20px 120px 20px;
    width: 100%;

    .in-char-root-ltop-div {
      width: 100%;
      margin-right: 0;
      flex-wrap: wrap;
      padding: 15px 0 10px 0;

      .in-char-root-lt-left-div {
        width: 100%;
        margin: 0 0 15px 0;
      }

      .title-div {
        h2 {
          font-size: 18px;
          padding: 0 0 0 30px;
        }

        .btn.btn-back-auth {
          height: 40px;
          width: 40px;
        }
      }

      .btn-nav-list-div {
        .btn-nav-list-ul {
          justify-content: flex-start;
          flex-wrap: wrap;

          .btn-nav-items {
            margin: 0 10px 10px 0;

            &:last-child {
              margin-right: 0;
            }

            .btn.btn-common-danger {
              min-width: 40px;
              padding: 7px 7px 7px 7px;

              .icon-span {
                margin: 0 !important;
                justify-content: center;
              }

              .text-span {
                display: none;
              }
            }
          }

          .btn.btn-icon {
            padding: 3px;
            min-width: 40px;
            min-height: 40px;
          }
        }
      }
    }

    .in-char-root-lbody-div {
      padding: 20px 0 0 0;
      max-height: 100%;

      .mlr-20 {
        margin-right: -15px !important;
        margin-left: -15px !important;
      }

      .plr-20 {
        padding-right: 15px !important;
        padding-left: 15px !important;
      }
    }
  }

  .group-video-bx-card {
    margin: 0 0 15px 0;
    border-radius: 15px;

    .group-video-bx-inner-card {
      border-radius: 15px;
      min-height: 185px;

      .tpl-group-video-bx {
        top: 15px;
        left: 15px;

        .in-call-group-uc-row {
          .in-call-group-uc-right {
            p {
              font-size: 14px;
              max-width: calc(100% - 55px);
            }
          }
        }
      }

      .tb-group-video-bx {
        .img-responsive {
          max-height: 185px;
          height: 185px;
          border-radius: 15px;
        }
      }
    }

    &.active {
      .group-video-bx-inner-card {
        min-height: 185px;
        border-radius: 18px;
      }
    }

    &.active-in {
      .group-video-bx-inner-card {
        min-height: 185px;

        .tb-group-video-bx {
          .in-call-group-user-thumb {
            .img-thumb {
              border: 7px solid #8b5e2d;

              .img-responsive {
                height: 60px;
                width: 60px;
              }
            }

            .img-div {
              border: 8px solid #f8962c45;
            }
          }
        }
      }
    }

    &.active.active-in {
      .group-video-bx-inner-card {
        min-height: 185px;
      }
    }
  }

  .in-chat-root-area-right-div {
    padding: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    top: auto;
    z-index: 99;
  }

  .in-chat-mp-card-div {
    border-radius: 36px 36px 0 0;

    .in-chat-mp-top-div {
      padding: 42px 20px 25px 20px;

      .in-chat-mp-top-left-div {
        h2 {
          font-size: 20px;
        }
      }

      .in-chat-mp-top-right-div {
        .nav-tabs {
          .nav-item {
            margin: 0 4px 0 0;

            .nav-link {
              padding: 0.5rem 15px;
              font-size: 12px;
              line-height: 17px;
              min-height: 30px;
              border-radius: 5px;

              &.active {
                padding: 0.5rem 20px;
              }
            }
          }
        }
      }
    }

    .collpse-mobile-div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .btn.btn-collpse-cst {
        padding: 0;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 99;

        .chevron-right-next-icon {
          width: 28px;
          height: 28px;
          background-position: center;
        }
      }
    }

    .chat-box {
      .card-body {
        .card-body-row {
          .chat-item {
            padding: 8px 10px;

            &.chat-left {
              .chat-text {
                font-size: 14px;
                line-height: 24px;
                padding: 5px 5px 5px 14px;
                max-width: calc(100% - 56px);
                min-height: 54px;

                &::before {
                  height: 54px;
                }

                .chat-text-inner {
                  padding: 5px 20px 5px 5px;
                  min-height: 44px;
                }
              }
            }

            .user-img-thumb {
              .img-user {
                height: 36px;
                width: 36px;
              }
            }

            .chat-user {
              font-size: 12px;
            }

            .chat-details {
              padding: 0 0 0 5px;
            }

            .chat-file-inner {
              min-height: 46px;

              .chat-file-inner-row {
                h4 {
                  font-size: 14px;
                  line-height: 20px;
                }

                p {
                  font-size: 14px;
                  line-height: 20px;
                }

                .file-icon-bx {
                  width: 46px;
                  height: 46px;

                  .paperclip-icon02 {
                    width: 19px;
                    height: 21px;
                  }
                }

                .chat-file-inner-left {
                  width: calc(100% - 46px);
                  min-width: 130px;
                }

                .chat-file-inner-right {
                  width: 46px;
                }
              }
            }

            &.chat-right {
              padding: 0 0 0 58px;
              width: calc(100% - 15px);

              .chat-text {
                font-size: 14px;
                line-height: 24px;
                min-height: 54px;
                padding: 5px 5px 5px 15px;

                &::before {
                  height: 54px;
                }

                .chat-text-inner {
                  padding: 5px 20px 5px 5px;
                  min-height: 44px;
                }
              }

              .chat-file-inner {
                margin-left: -8px;

                .chat-file-inner-row {
                  .chat-file-inner-left {
                    padding: 0 15px 0 15px;
                  }

                  .file-icon-bx {
                    .paperclip-icon03 {
                      width: 21px;
                      height: 21px;
                    }
                  }

                  h4 {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
              }
            }
          }

          .chat-row-new-join {
            width: calc(100% - 10px);
            padding: 8px 20px;

            .nj-chat-details {
              padding: 0 12px 0 12px;

              .nj-img-thumb {
                width: 36px;

                .img-user {
                  height: 36px;
                  width: 36px;
                }
              }

              .nj-chat-user {
                font-size: 14px;
                padding: 0 0 0 16px;
                max-width: calc(100% - 36px);
              }
            }
          }
        }
      }

      .card-footer {
        padding: 10px 20px 18px 20px;

        .top-typying-div {
          .top-typying-row-div {
            margin: 0 0 14px 0;

            .top-typying-left-div {
              height: 36px;
              width: 36px;

              .round-bx {
                height: 36px;
                width: 36px;
              }
            }

            .top-typying-right-div {
              width: calc(100% - 36px);
              padding: 0 0 0 12px;

              p {
                font-size: 12px;
              }
            }
          }
        }

        .card-footer-row {
          .card-form {
            .left-file-div {
              label {
                min-height: 58px;
                padding: 0 10px 0 15px;

                .paperclip-icon {
                  width: 20px;
                  height: 20px;
                }
              }
            }

            textarea.form-control {
              height: 58px;
              font-size: 13px;
              line-height: 24px;
              padding: 18px 60px 16px 54px;
              border-radius: 15px;
            }

            .btn-file-div {
              padding: 0 6px 0 0;
              height: 58px;
            }

            .btn.btn-primary {
              width: 46px;
              height: 46px;

              .send-button-icon {
                width: 22px;
                height: 22px;
              }
            }
          }
        }
      }
    }

    .in-chat-mp-body-div {
      display: none;

      &.active {
        display: block;
      }
    }

    &.active {
      .collpse-mobile-div .btn.btn-collpse-cst .chevron-right-next-icon {
        transform: rotate(180deg);
      }
    }
  }

  .in-chat-participants-root-div {
    .participent-list {
      ul.list {
        li {
          padding: 10px 10px 10px 10px;

          .partcipent-user {
            .user-img {
              height: 36px;
              width: 36px;
              border: none;

              .img-fluid {
                height: 36px;
                width: 36px;
              }
            }

            .user-info {
              padding-left: 12px;
              max-width: calc(100% - 36px);

              h3 {
                font-size: 14px;
                line-height: 17px;
              }

              p {
                font-size: 14px;
                line-height: 17px;
              }
            }
          }

          .user-action {
            .btn-squre {
              height: 36px;
              width: 36px;
              display: flex;
              align-items: center;
              justify-content: center;

              .icon {
                height: 18px;
                width: 18px;
                background-size: contain;
              }
            }
          }

          &:hover {
            .user-action {
              .action-group {
                .btn {
                  height: 30px;
                  font-size: 12px;
                  width: auto;
                }

                .dropdown {
                  .btn {
                    height: 30px;
                    font-size: 12px;
                    width: auto;

                    &:after {
                      background-size: contain;
                      margin: 0 0 0 6px;
                      height: 6px;
                    }
                  }

                  .dropdown-menu {
                    margin-top: 8px;
                    margin-bottom: 8px;
                    min-width: 150px;

                    .dropdown-item {
                      font-size: 14px;
                      padding: 5px 15px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .in-chat-root-area-left-div {
    padding: 20px 20px 120px 20px;
    width: 100%;

    .in-char-root-ltop-div {
      width: 100%;
      margin-right: 0;
      flex-wrap: wrap;
      padding: 15px 0 10px 0;

      .in-char-root-lt-left-div {
        margin: 0 0 15px 0;
      }

      .title-div {
        h2 {
          font-size: 18px;
          padding: 0 0 0 30px;
        }

        .btn.btn-back-auth {
          height: 40px;
          width: 40px;
        }
      }

      .btn-nav-list-div {
        .btn-nav-list-ul {
          justify-content: flex-start;
          flex-wrap: wrap;

          .btn-nav-items {
            margin: 0 10px 10px 0;

            &:last-child {
              margin-right: 0;
            }

            .btn.btn-common-danger {
              min-width: 40px;
              padding: 7px 7px 7px 7px;

              .icon-span {
                margin: 0 !important;
                justify-content: center;
              }

              .text-span {
                display: none;
              }
            }
          }

          .btn.btn-icon {
            padding: 3px;
            min-width: 40px;
            min-height: 40px;
          }
        }
      }
    }

    .in-char-root-lbody-div {
      padding: 20px 0 0 0;
      max-height: 100%;

      .mlr-20 {
        margin-right: -15px !important;
        margin-left: -15px !important;
      }

      .plr-20 {
        padding-right: 15px !important;
        padding-left: 15px !important;
      }
    }
  }

  .group-video-bx-card {
    margin: 0 0 15px 0;
    border-radius: 15px;

    .group-video-bx-inner-card {
      border-radius: 15px;
      min-height: 185px;

      .tpl-group-video-bx {
        top: 15px;
        left: 15px;

        .in-call-group-uc-row {
          .in-call-group-uc-right {
            p {
              font-size: 14px;
              max-width: calc(100% - 55px);
            }
          }
        }
      }

      .tb-group-video-bx {
        .img-responsive {
          max-height: 185px;
          height: 185px;
          border-radius: 15px;
        }
      }
    }

    &.active {
      .group-video-bx-inner-card {
        min-height: 185px;
        border-radius: 18px;
      }
    }

    &.active-in {
      .group-video-bx-inner-card {
        min-height: 185px;

        .tb-group-video-bx {
          .in-call-group-user-thumb {
            .img-thumb {
              border: 7px solid #8b5e2d;

              .img-responsive {
                height: 60px;
                width: 60px;
              }
            }

            .img-div {
              border: 8px solid #f8962c45;
            }
          }
        }
      }
    }

    &.active.active-in {
      .group-video-bx-inner-card {
        min-height: 185px;
      }
    }
  }

  .in-chat-root-area-right-div {
    padding: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    top: auto;
    z-index: 99;
  }

  .in-chat-mp-card-div {
    border-radius: 36px 36px 0 0;

    .in-chat-mp-top-div {
      padding: 42px 20px 25px 20px;

      .in-chat-mp-top-left-div {
        h2 {
          font-size: 20px;
        }
      }

      .in-chat-mp-top-right-div {
        .nav-tabs {
          .nav-item {
            margin: 0 4px 0 0;

            .nav-link {
              padding: 0.5rem 15px;
              font-size: 12px;
              line-height: 17px;
              min-height: 30px;
              border-radius: 5px;

              &.active {
                padding: 0.5rem 20px;
              }
            }
          }
        }
      }
    }

    .collpse-mobile-div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .btn.btn-collpse-cst {
        padding: 0;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 99;

        .chevron-right-next-icon {
          width: 28px;
          height: 28px;
          background-position: center;
        }
      }
    }

    .chat-box {
      .card-body {
        .card-body-row {
          .chat-item {
            padding: 8px 10px;

            &.chat-left {
              .chat-text {
                font-size: 14px;
                line-height: 24px;
                padding: 5px 5px 5px 14px;
                max-width: calc(100% - 56px);
                min-height: 54px;

                &::before {
                  height: 54px;
                }

                .chat-text-inner {
                  padding: 5px 20px 5px 5px;
                  min-height: 44px;
                }
              }
            }

            .user-img-thumb {
              .img-user {
                height: 36px;
                width: 36px;
              }
            }

            .chat-user {
              font-size: 12px;
            }

            .chat-details {
              padding: 0 0 0 5px;
            }

            .chat-file-inner {
              min-height: 46px;

              .chat-file-inner-row {
                h4 {
                  font-size: 14px;
                  line-height: 20px;
                }

                p {
                  font-size: 14px;
                  line-height: 20px;
                }

                .file-icon-bx {
                  width: 46px;
                  height: 46px;

                  .paperclip-icon02 {
                    width: 19px;
                    height: 21px;
                  }
                }

                .chat-file-inner-left {
                  width: calc(100% - 46px);
                  min-width: 130px;
                }

                .chat-file-inner-right {
                  width: 46px;
                }
              }
            }

            &.chat-right {
              padding: 0 0 0 58px;
              width: calc(100% - 15px);

              .chat-text {
                font-size: 14px;
                line-height: 24px;
                min-height: 54px;
                padding: 5px 5px 5px 15px;

                &::before {
                  height: 54px;
                }

                .chat-text-inner {
                  padding: 5px 20px 5px 5px;
                  min-height: 44px;
                }
              }

              .chat-file-inner {
                margin-left: -8px;

                .chat-file-inner-row {
                  .chat-file-inner-left {
                    padding: 0 15px 0 15px;
                  }

                  .file-icon-bx {
                    .paperclip-icon03 {
                      width: 21px;
                      height: 21px;
                    }
                  }

                  h4 {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
              }
            }
          }

          .chat-row-new-join {
            width: calc(100% - 10px);
            padding: 8px 20px;

            .nj-chat-details {
              padding: 0 12px 0 12px;

              .nj-img-thumb {
                width: 36px;

                .img-user {
                  height: 36px;
                  width: 36px;
                }
              }

              .nj-chat-user {
                font-size: 14px;
                padding: 0 0 0 16px;
                max-width: calc(100% - 36px);
              }
            }
          }
        }
      }

      .card-footer {
        padding: 10px 20px 18px 20px;

        .top-typying-div {
          .top-typying-row-div {
            margin: 0 0 14px 0;

            .top-typying-left-div {
              height: 36px;
              width: 36px;

              .round-bx {
                height: 36px;
                width: 36px;
              }
            }

            .top-typying-right-div {
              width: calc(100% - 36px);
              padding: 0 0 0 12px;

              p {
                font-size: 12px;
              }
            }
          }
        }

        .card-footer-row {
          .card-form {
            .left-file-div {
              label {
                min-height: 58px;
                padding: 0 10px 0 15px;

                .paperclip-icon {
                  width: 20px;
                  height: 20px;
                }
              }
            }

            textarea.form-control {
              height: 58px;
              font-size: 13px;
              line-height: 24px;
              padding: 18px 60px 16px 54px;
              border-radius: 15px;
            }

            .btn-file-div {
              padding: 0 6px 0 0;
              height: 58px;
            }

            .btn.btn-primary {
              width: 46px;
              height: 46px;

              .send-button-icon {
                width: 22px;
                height: 22px;
              }
            }
          }
        }
      }
    }

    .in-chat-mp-body-div {
      display: none;

      &.active {
        display: block;
      }
    }

    &.active {
      .collpse-mobile-div .btn.btn-collpse-cst .chevron-right-next-icon {
        transform: rotate(180deg);
      }
    }
  }

  .in-chat-participants-root-div {
    .participent-list {
      ul.list {
        li {
          padding: 10px 10px 10px 10px;

          .partcipent-user {
            .user-img {
              height: 36px;
              width: 36px;
              border: none;

              .img-fluid {
                height: 36px;
                width: 36px;
              }
            }

            .user-info {
              padding-left: 12px;
              max-width: calc(100% - 36px);

              h3 {
                font-size: 14px;
                line-height: 17px;
              }

              p {
                font-size: 14px;
                line-height: 17px;
              }
            }
          }

          .user-action {
            .btn-squre {
              height: 36px;
              width: 36px;
              display: flex;
              align-items: center;
              justify-content: center;

              .icon {
                height: 18px;
                width: 18px;
                background-size: contain;
              }
            }
          }

          &:hover {
            .user-action {
              .action-group {
                .btn {
                  height: 30px;
                  font-size: 12px;
                  width: auto;
                }

                .dropdown {
                  .btn {
                    height: 30px;
                    font-size: 12px;
                    width: auto;

                    &:after {
                      background-size: contain;
                      margin: 0 0 0 6px;
                      height: 6px;
                    }
                  }

                  .dropdown-menu {
                    margin-top: 8px;
                    margin-bottom: 8px;
                    min-width: 150px;

                    .dropdown-item {
                      font-size: 14px;
                      padding: 5px 15px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
