.in-chat-root-area-section {
  padding: 0;
  margin: 0;
  position: relative;

  .in-chat-root-area-div {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
  }
}

.in-chat-root-area-left-div {
  padding: 24px 5px 0 46px;
  width: calc(100% - 630px);

  .in-char-root-ltop-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 31px 0 15px 0;
    border-bottom: 1px solid #e0e3e9;
    width: calc(100% - 30px);
    margin-right: 30px;

    .title-div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .btn.btn-back-auth {
        height: 46px;
        width: 46px;

        .material-icons {
          font-size: 30px;
        }
      }

      h2 {
        font-size: 29px;
        line-height: 1.3;
        font-weight: 600;
        letter-spacing: 0px;
        color: #00142f;
        padding: 0 0 0 50px;
      }
    }

    .btn-nav-list-div {
      .btn-nav-list-ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;

        .btn-nav-items {
          margin: 0 25px 10px 0;

          &:last-child {
            margin-right: 15px;
          }
        }

        .btn-common-danger {
          .icon-span {
            width: 32px;
            text-align: left;
            display: flex;
            position: relative;

            .telephone-button {
              background-position: 0 2px;
            }
          }

          .mr-6px {
            margin-right: 6px;
          }
        }

        .btn.btn-icon {
          border-radius: 10px;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 46px;
          min-height: 46px;

          .microphone-icon {
            width: 16px;
            height: 24px;
          }

          .bg-custom-icon {
            background-position: center;
            transition: opacity 0.8s;
          }

          .icon-none {
            display: none;
          }

          &.active {
            box-shadow: none;
            background: transparent linear-gradient(132deg, #fc711a 0%, #f7b733 100%);

            .icon-view {
              display: none;
              opacity: 0;
            }

            .icon-none {
              opacity: 1;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .in-char-root-lbody-div {
    padding: 30px 20px 0 0;
    margin: 0;
    width: 100%;
    max-height: calc(100vh - 127px);
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #d4d8e0;
      border-radius: 50px;
    }
  }
}

.group-video-bx-card {
  padding: 0;
  margin: 0 0 36px 0;
  position: relative;
  width: 100%;
  border-radius: 25px;

  .group-video-bx-inner-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #00142f;
    width: 100%;
    border-radius: 25px;
    min-height: 297px;

    &::before {
      content: "";
      background: transparent linear-gradient(180deg, #0000009d 0%, #00000000 100%);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 25px;
      opacity: 0.4;
    }

    .tpl-group-video-bx {
      padding: 0;
      margin: 0;
      position: absolute;
      top: 22px;
      left: 30px;
      width: calc(100% - 60px);
      z-index: 3;

      .in-call-group-uc-row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .in-call-group-uc-left {
          width: 29px;
          display: flex;

          .img-fluid {
            border-radius: 99px;
            height: 29px;
            width: 29px;
            object-fit: cover;
          }
        }

        .in-call-group-uc-right {
          width: calc(100% - 29px);
          padding: 0 0 0 7px;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          p {
            font-size: 18px;
            line-height: 1.5;
            font-weight: 600;
            color: #fff;
            max-width: calc(100% - 55px);
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
          }

          .btn-audio {
            display: flex;
            margin: 0 0 0 15px;

            .microphone-icon {
              width: 13px;
              height: 19px;
            }

            .un-mute-microphone-icon {
              width: 16px;
              height: 19px;
            }
          }
        }
      }
    }

    .tb-group-video-bx {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .in-call-group-user-thumb {
        width: 100%;
      }

      .img-thumb {
        display: flex;
        flex-wrap: wrap;
      }

      .img-responsive {
        border-radius: 25px;
        height: 297px;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &.active {
    .group-video-bx-inner-card {
      border: 4px solid #f98d29;
      border-radius: 30px;
      min-height: 289px;

      .tb-group-video-bx {
        .img-responsive {
          max-height: 289px;
        }
      }
    }
  }

  &.active-in {
    .group-video-bx-inner-card {
      .tb-group-video-bx {
        padding: 8px 0 0 0;

        .in-call-group-user-thumb {
          width: auto;
          background: #00142f;
          position: relative;

          .img-div {
            border: 15px solid #f8962c45;
            border-radius: 999px;
          }

          .img-thumb {
            border: 10px solid #8b5e2d;
            border-radius: 999px;
          }

          .img-responsive {
            height: 106px;
            width: 106px;
            border: 3px solid #f98d29;
            border-radius: 999px;
          }
        }
      }
    }
  }

  &.active.active-in {
    .group-video-bx-inner-card {
      min-height: 297px;
    }
  }
}

.in-chat-root-area-right-div {
  padding: 24px 28px 0 10px;
  width: 630px;
  position: sticky;
  top: 0;
}

.in-chat-mp-card-div {
  padding: 0;
  margin: 0;
  background: #eff2f6;
  border-radius: 15px;
  position: relative;

  .in-chat-mp-top-div {
    padding: 31px 34px 25px 40px;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e3e9;

    .in-chat-mp-top-left-div {
      h2 {
        font-size: 29px;
        line-height: 1.3;
        font-weight: 600;
        letter-spacing: 0;
        color: #00142f;
        padding: 0;
      }
    }

    .in-chat-mp-top-right-div {
      padding: 0;
      margin: 0;
      position: relative;

      .nav-tabs {
        border-bottom: 0;

        .nav-item {
          margin: 0 18px 0 0;

          &:last-child {
            margin-right: 0;
          }

          .nav-link {
            padding: 0.5rem 15px;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0;
            color: #002855;
            min-height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            border: none;
          }

          .nav-link.active {
            padding: 0.5rem 25px;
            background: transparent linear-gradient(107deg, #0072ff 0%, #009aff 48%, #00c6ff 100%);
            color: #fff;
          }
        }
      }
    }
  }

  .in-chat-mp-body-div {
    min-height: calc(100vh - 150px);
  }

  .chat-box {
    padding: 0;
    margin: 0;
    position: relative;
    border: 0;
    background-color: transparent;
    justify-content: space-between;
    height: calc(100vh - 150px);

    .card-body {
      padding: 20px 10px 0 10px;
      margin: 0;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      overflow-y: auto;

      .card-body-row {
        padding: 0 0 7px 0;
        margin: 0;
        position: relative;
        overflow: auto;

        &::-webkit-scrollbar {
          width: 8px;
          height: 8px;
        }

        &::-webkit-scrollbar-track {
          background-color: transparent;
          border-radius: 50px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #d4d8e0;
          border-radius: 50px;
        }

        .chat-item {
          padding: 8px 20px;
          margin: 0 0 17px 0;
          position: relative;
          display: flex;
          align-items: flex-end;
          flex-wrap: wrap;
          width: 100%;

          .user-img-thumb {
            padding: 0 0 5px 0;
            width: 48px;
            display: flex;

            .img-user {
              height: 48px;
              width: 48px;
              border-radius: 100px;
              object-fit: cover;
              border: 3px solid #fff;
            }
          }

          .chat-details {
            padding: 0 0 0 23px;
            position: relative;
            width: calc(100% - 48px);
          }

          .chat-user {
            font-weight: 600;
            font-size: 15px;
            line-height: 1.2;
            letter-spacing: 0;
            margin: 0 0 5px 0;
            color: #00142f;
          }

          &.chat-left {
            .chat-text {
              font-weight: 500;
              font-size: 20px;
              line-height: 24px;
              color: #00142f;
              letter-spacing: 0;
              padding: 5px 5px 5px 21px;
              background: #fff;
              border-radius: 20px 20px 20px 20px;
              margin: 0 0 5px 0;
              width: auto;
              display: inline-block;
              max-width: calc(100% - 60px);
              box-shadow: 0px 1px 2px #dbe0e8;
              position: relative;
              min-height: 75px;

              &::before {
                content: "";
                width: 76px;
                height: 75px;
                display: inline-block;
                position: absolute;
                left: -12px;
                bottom: 0;
                background: url(../images/chat/pattern-01.svg) no-repeat;
              }

              .chat-text-inner {
                padding: 5px 41px 5px 5px;
                min-height: 61px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                position: relative;
              }
            }
          }

          .chat-file-inner {
            padding: 5px 5px 5px 5px;
            min-height: 61px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            position: relative;

            .chat-file-inner-row {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              width: 100%;
              color: #00142f;

              .chat-file-inner-left {
                width: calc(100% - 63px);
                padding: 0 15px 0 0;
                min-width: 170px;
              }

              .chat-file-inner-right {
                width: 63px;
              }

              h4 {
                font-size: 20px;
                line-height: 24px;
                font-weight: 500;
                letter-spacing: 0;
                color: #00142f;
              }

              p {
                font-size: 18px;
                line-height: 26px;
                font-weight: 500;
                letter-spacing: 0;
                color: #86a3cb;
              }

              .file-icon-bx {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 63px;
                height: 63px;
                background: #ffeedb;
                border-radius: 12px;
              }
            }
          }

          &.chat-right {
            justify-content: flex-start;
            padding: 0 0 0 71px;

            .chat-text {
              font-weight: 500;
              font-size: 20px;
              line-height: 24px;
              color: #fff;
              letter-spacing: 0;
              padding: 5px 5px 5px 21px;
              background: #002855;
              border-radius: 20px 20px 20px 20px;
              margin: 0 0 5px 0;
              width: auto;
              display: inline-block;
              max-width: calc(100%);
              box-shadow: 0px 1px 2px #dbe0e8;
              position: relative;
              min-height: 75px;

              &::before {
                content: "";
                width: 76px;
                height: 75px;
                display: inline-block;
                position: absolute;
                right: -15px;
                bottom: 0;
                background: url(../images/chat/pattern-02.svg) no-repeat;
              }

              &::after {
                content: "";
                background: #0a2855;
                height: 100%;
                width: 100px;
                position: absolute;
                right: 25px;
                top: 0;
              }

              .chat-text-inner {
                padding: 5px 25px 5px 5px;
                min-height: 61px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                position: relative;
                z-index: 3;
              }
            }

            .chat-file-inner {
              z-index: 3;
              padding-left: 0;
              margin-left: -10px;

              .chat-file-inner-row {
                color: #fff;

                .chat-file-inner-left {
                  padding: 0 15px 0 27px;
                }

                .file-icon-bx {
                  background: #f98d29;
                }

                h4 {
                  color: #fff;
                }
              }
            }
          }
        }

        .chat-row-new-join {
          padding: 8px 20px;
          margin: 0 auto 17px auto;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          width: calc(100% - 50px);

          &::before {
            content: "";
            height: 1px;
            width: 100%;
            background: #e0e3e9;
            position: absolute;
          }

          .nj-chat-details {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
            justify-content: center;
            padding: 0 13px 0 16px;
            background: #eff2f6;

            .nj-img-thumb {
              width: 48px;
              display: flex;

              .img-user {
                height: 48px;
                width: 48px;
                border-radius: 100px;
                object-fit: cover;
                border: 3px solid #fff;
              }
            }

            .nj-chat-user {
              font-size: 18px;
              letter-spacing: 0;
              line-height: 22px;
              color: #00142f66;
              font-weight: 500;
              padding: 0 0 0 23px;
              max-width: calc(100% - 48px);
            }
          }
        }
      }
    }

    .card-footer {
      padding: 10px 23px 18px 30px;
      margin: 0;
      position: relative;
      border: none;
      background-color: transparent;

      .card-footer-row {
        padding: 0;
        margin: 0;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .card-form {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          position: relative;

          .left-file-div {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;

            label {
              min-height: 82px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 12px 0 23px;
              cursor: pointer;
            }
          }

          .btn-file-div {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 10px 0 0;
            height: 82px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          textarea.form-control {
            width: 100%;
            height: 82px;
            font-size: 20px;
            line-height: 24px;
            font-weight: 500;
            resize: none;
            padding: 28px 80px 20px 75px;
            border: transparent;
            outline: none;
            background: #fff;
            box-shadow: 0px 3px 6px #e1e7ef;
            border-radius: 20px;
            letter-spacing: 0;
            color: #00142f;
            vertical-align: middle;
          }

          .btn.btn-primary {
            width: 63px;
            height: 63px;
            border-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent linear-gradient(315deg, #f7b733 0%, #fc711a 100%);
            outline: none;
            border-radius: 12px;
            padding: 5px 8px 8px 9px;
            box-shadow: none;

            .send-button-icon {
              background-position: center;
              width: 27px;
              height: 27px;
            }
          }
        }
      }

      .top-typying-div {
        .top-typying-row-div {
          padding: 0;
          margin: 0 0 20px 0;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;

          .top-typying-left-div {
            height: 48px;
            width: 48px;
            display: flex;
            align-items: center;
            justify-content: center;

            .round-bx {
              background: #fff;
              height: 48px;
              width: 48px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 100%;
              padding: 5px 0 0 0;

              .dot {
                background: #c3cede;
                height: 6px;
                width: 6px;
                display: inline-block;
                border-radius: 100px;
                margin: 0 2px;
                animation-duration: 0.4s;
                animation-timing-function: ease-in-out;
                animation-delay: 0;
                animation-iteration-count: infinite;
                animation-direction: alternate;

                &.dot1 {
                  // animation-name: dot-up-down1 ;
                }

                &.dot2 {
                  background: #d2dae5;
                  transform: translateY(-5px);
                  // animation-name: dot-up-down2;
                }

                &.dot3 {
                  // animation-name: dot-up-down1 ;
                }

                @keyframes dot-up-down1 {
                  from {
                    transform: translateY(0px);
                  }
                  to {
                    transform: translateY(-5px);
                  }
                }

                @keyframes dot-up-down2 {
                  from {
                    transform: translateY(-5px);
                  }
                  to {
                    transform: translateY(0);
                  }
                }
              }
            }
          }

          .top-typying-right-div {
            width: calc(100% - 48px);
            padding: 0 0 0 16px;

            p {
              font-size: 18px;
              letter-spacing: 0;
              line-height: 22px;
              color: #00142f66;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
