.my-profile-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.my-profile-root {
  padding: 30px 0 0 21px;
  max-width: 1580px;

  .heading-title-div {
    margin: 0 0 50px 0;

    h2 {
      font-size: 38px;
      line-height: 1.5;
      font-weight: 600;
      letter-spacing: 0;
      color: #083257;
      display: block;
      margin: 0 0 5px 0;
    }
  }

  .profile-pic-upload-group {
    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 0 10px 0;

      .profile-pic {
        height: 165px;
        width: 165px;
        object-fit: cover;
        border-radius: 200px;
      }
    }

    .profile-label-text-div {
      text-align: center;

      label.filelabel-text {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 600;
        letter-spacing: 0;
        color: #f98d29;
        display: block;
        margin: 0 0 5px 0;
        cursor: pointer;
      }
    }
  }

  .form-root {
    .form-group-custom {
      margin-bottom: 30px;
      display: flex;
      flex-wrap: wrap;

      .form-group-custom-inner {
        width: 100%;
      }

      .error-message-box {
        margin-bottom: 8px;
      }

      .form-control {
        margin: 0 0 2px 0;
      }

      .input-control {
        max-width: 356px;
      }
    }
  }

  .my-profile-body {
    min-height: calc(100vh - 400px);
    padding: 0 0 0 90px;
  }

  .btn-group-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0 10px 0;
    max-width: 80%;

    .btn.btn-common-secondary {
      padding: 7px 20px 7px 20px;
      min-height: 54px;
      min-width: 240px;
      font-size: 20px;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1490px) {
  .my-profile-root {
    .my-profile-body {
      padding: 0;

      .form-root .form-group-custom label {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 767px) {
  .my-profile-root {
    padding: 30px 0 0 0;

    .heading-title-div {
      h2 {
        font-size: 24px;
      }
    }

    .profile-pic-upload-group {
      margin: 0 0 40px 0;

      .circle {
        .profile-pic {
          height: 100px;
          width: 100px;
        }
      }

      .profile-label-text-div {
        label.filelabel-text {
          font-size: 14px;
        }
      }
    }

    .form-root {
      .form-group-custom {
        .input-control {
          max-width: 100%;
        }
      }
    }

    .btn-group-div {
      max-width: 100%;

      .btn.btn-common-secondary {
        min-height: 46px;
        min-width: auto;
        font-size: 14px;
        padding: 7px 20px 7px 20px;

        &.mr-15 {
          margin-right: 8px !important;
        }
      }

      .btn.btn-common-primary.btn-common-primary-54 {
        min-height: 46px;
        min-width: auto;
        font-size: 14px;
        padding: 7px 20px 7px 20px;
      }
    }

    .my-profile-body {
      padding: 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .my-profile-root {
    .my-profile-body {
      padding: 0;
      min-height: calc(100vh - 480px);
    }

    .profile-pic-upload-group {
      margin: 0 0 40px 0;

      .circle {
        .profile-pic {
          height: 100px;
          width: 100px;
        }
      }

      .profile-label-text-div {
        label.filelabel-text {
          font-size: 14px;
        }
      }
    }

    .btn-group-div {
      max-width: 100%;

      .btn.btn-common-secondary {
        min-height: 46px;
        min-width: auto;
        font-size: 16px;
        padding: 7px 30px 7px 30px;
      }

      .btn.btn-common-primary.btn-common-primary-54 {
        min-height: 46px;
        min-width: auto;
        font-size: 16px;
        padding: 7px 30px 7px 30px;
      }
    }

    .form-root {
      .form-group-custom {
        .input-control {
          max-width: 100%;
        }

        label {
          font-size: 18px;
        }
      }
    }
  }
}
