.main-center-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  min-height: 100vh;
}

.main-center-section .main-center-div {
  padding: 0;
  width: 100%;
}

.main-center-section .incall-area-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 100vh;
  width: 100%;
}

.main-center-section .incall-area-section .incall-area-div {
  width: 100%;
}

.main-center-section .incall-area-section .in-call-video-bg-fixed-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-center-section .incall-area-section .in-call-video-bg-fixed-div .in-call-video-bg {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.incall-area-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 100vh;
  width: 100%;
}

.incall-area-section .in-call-video-bg-fixed-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.incall-area-section .in-call-video-bg-fixed-div .in-call-video-bg {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.incall-area-section .in-call-area-root {
  width: 100%;
  position: relative;
}

.in-call-user-owl-slider-slider {
  padding: 0 50px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 980px;
}

.in-call-user-owl-slider-slider .owl-carousel .owl-nav .owl-next,
.in-call-user-owl-slider-slider .owl-carousel .owl-nav .owl-prev {
  border: none;
  padding: 0 !important;
  background: #6e656c;
  border-radius: 100px;
  height: 36px;
  width: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f98d29;
  outline: none;
}

.in-call-user-owl-slider-slider .owl-carousel .owl-nav .owl-next .span-roundcircle,
.in-call-user-owl-slider-slider .owl-carousel .owl-nav .owl-prev .span-roundcircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.in-call-user-owl-slider-slider .owl-carousel .owl-nav .owl-next.disabled,
.in-call-user-owl-slider-slider .owl-carousel .owl-nav .owl-prev.disabled {
  background: #211c1f;
}

.in-call-user-owl-slider-slider .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -50px;
  top: calc(50% - 20px);
}

.in-call-user-owl-slider-slider .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -50px;
  top: calc(50% - 20px);
}

.in-call-user-owl-slider-slider .in-call-user-slider-box {
  margin: 0 0 20px 0;
}

.in-call-user-owl-slider-slider .in-call-user-slider-box .in-call-user-slider-box-inner {
  max-width: 135px;
  width: 100%;
  margin: 0 auto;
}

.in-call-user-owl-slider-slider .in-call-user-slider-box .in-call-user-slider-img-thumb {
  border: 4px solid #fff;
  border-radius: 100%;
  height: 115px;
  width: 115px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.in-call-user-owl-slider-slider .in-call-user-slider-box .in-call-user-slider-img-thumb .img-responsive {
  border-radius: 100%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.in-call-user-owl-slider-slider .in-call-user-slider-box .in-call-user-slider-content-div {
  background: black;
  border-radius: 60px;
  top: -12px;
  position: relative;
}

.in-call-user-owl-slider-slider .in-call-user-slider-box .in-call-user-slider-content-div::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.in-call-user-owl-slider-slider .in-call-user-slider-box .in-call-user-slider-content-div .in-call-user-slider-content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4px 15px;
  min-height: 30px;
  z-index: 2;
  position: relative;
}

.in-call-user-owl-slider-slider .in-call-user-slider-box .in-call-user-slider-content-div .in-call-user-slider-content-row .btn-audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.in-call-user-owl-slider-slider .in-call-user-slider-box .in-call-user-slider-content-div .in-call-user-slider-content-row p {
  letter-spacing: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  width: calc(100% - 15px);
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.in-call-user-owl-slider-slider .in-call-user-slider-box.active .in-call-user-slider-img-thumb {
  border-color: #f98d29;
}

.in-call-user-owl-slider-slider .in-call-user-slider-box.active .in-call-user-slider-content-div {
  background: #f98d29;
}

.in-call-user-owl-slider-slider .in-call-user-slider-box.active .in-call-user-slider-content-div::before {
  background: #f98d29;
  -webkit-filter: none;
          filter: none;
}

.in-call-user-owl-slider-slider .in-call-user-slider-box.active-in .in-call-user-slider-img-thumb {
  background: #00142f;
}

.in-call-user-owl-slider-slider .in-call-user-slider-box.active-in .in-call-user-slider-img-thumb .img-thumb {
  border: 5px solid #f78c2645;
  border-radius: 999px;
}

.in-call-user-owl-slider-slider .in-call-user-slider-box.active-in .in-call-user-slider-img-thumb .img-responsive {
  height: 66px;
  width: 66px;
  border: 5px solid #f78c2666;
}
/*# sourceMappingURL=incall-style.css.map */