.main-section {
  .main-inheight-div {
    min-height: 100vh;
  }
}

.inner-main-general-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.inner-main-general-root {
  padding: 80px 0 0 0;
  margin: 0;
  position: relative;

  .heading-title-div {
    margin: 0 0 32px 20px;

    h2 {
      font-size: 38px;
      line-height: 1.5;
      font-weight: 600;
      letter-spacing: 0;
      color: #083257;
      display: block;
      margin: 0 0 5px 0;
    }
  }
}

.flatpickr-calendar {
  box-shadow: 0px 2px 3px #0000000d;
  border: 1px solid #0000000d;
  border-radius: 10px;
  width: 100%;
  max-width: 360px;
  margin-top: 10px;

  &::before,
  &::after {
    display: none;
  }

  .flatpickr-day:hover,
  .selected {
    border-color: #fff;
    background: transparent linear-gradient(51deg, #fc711a 0%, #f7b733 100%) 0% 0% no-repeat padding-box !important;
    border-radius: 10px;
    color: #fff;
  }

  .flatpickr-day.today {
    border-color: #fc711a;
    border-radius: 10px;
  }

  .flatpickr-weekdays {
    height: 40px;
  }

  span.flatpickr-weekday {
    color: #bebebe;
    font-weight: 500;
    font-size: 17px;
  }

  .flatpickr-current-month span.cur-month {
    font-weight: 600;
  }

  .flatpickr-current-month input.cur-year {
    font-weight: 600;
  }

  .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
  .flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
    left: 10px;
    top: 10px;
  }

  .flatpickr-months .flatpickr-month {
    height: 56px;
  }

  .flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
  .flatpickr-months .flatpickr-next-month.flatpickr-next-month {
    right: 10px;
    top: 10px;
  }

  .flatpickr-current-month {
    height: 56px;
    padding: 17px 0 10px 0;
  }

  .flatpickr-rContainer {
    padding: 0 10px 10px 10px;
  }

  .flatpickr-days {
    width: 100%;
  }

  .dayContainer {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    justify-content: flex-start;
  }

  .flatpickr-day {
    max-width: 50px;
    height: 43px;
    line-height: 43px;
  }

  .nextMonthDay {
    &:nth-last-child(-n + 7) {
      opacity: 0;
      visibility: hidden;
      display: none;
    }
  }

  .nextMonthDay {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: none;
  }

  .prevMonthDay {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.date-group-custom {
  .date.active ~ .btn-picker {
    &:after {
      transition: all 0.3s ease-in-out;
      transform: rotate(-180deg);
    }
  }

  .btn-picker {
    height: 36px;
    width: 36px;
    position: absolute;
    top: 0;
    min-width: 36px;
    background: transparent linear-gradient(132deg, #0072ff 0%, #00c6ff 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px !important;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg id='arrow-down' xmlns='http://www.w3.org/2000/svg' width='12' height='7.41' viewBox='0 0 12 7.41'%3E%3Cpath id='Path_26' data-name='Path 26' d='M7.41,7.84,12,12.42l4.59-4.58L18,9.25l-6,6-6-6Z' transform='translate(-6 -7.84)' fill='%23fff'/%3E%3C/svg%3E%0A");
      background-size: contain;
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      height: 6px;
      width: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      margin: 0 auto;
      transition: all 0.3s ease-in-out;
      transform: rotate(0deg);
    }
  }

  .pd-right-46 {
    padding-right: 46px;
  }

  .form-input {
    position: relative;
  }

  .max-width-217 {
    max-width: 217px;
  }
}

.select2-group-bx {
  .max-width-217 {
    max-width: 217px;
  }

  .select2-container {
    box-shadow: none;
    outline: none;
    margin-right: 0;
    width: 100% !important;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 36px;
    line-height: 33px;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    box-shadow: none;
    outline: none;
  }

  .select2-container--default .select2-selection--single {
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    box-shadow: none;
    padding-left: 10px;
    outline: none;
    border-radius: 10px !important;
    border: 1px solid #d6e3f5 !important;
    max-width: calc(100% - 46px);
  }

  .select2-selection__placeholder {
    color: rgba(0, 0, 0, 0.3) !important;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 36px;
    min-width: 36px;
    height: 36px;
    background: transparent linear-gradient(132deg, #0072ff 0%, #00c6ff 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px !important;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    b {
      display: none;
    }

    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg id='arrow-down' xmlns='http://www.w3.org/2000/svg' width='12' height='7.41' viewBox='0 0 12 7.41'%3E%3Cpath id='Path_26' data-name='Path 26' d='M7.41,7.84,12,12.42l4.59-4.58L18,9.25l-6,6-6-6Z' transform='translate(-6 -7.84)' fill='%23fff'/%3E%3C/svg%3E%0A");
      background-size: contain;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 6px;
      width: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      margin: 0 auto;
      transition: all 0.3s ease-in-out;
      transform: rotate(0deg);
    }
  }

  .select2-container--open .select2-selection__arrow {
    &:after {
      transition: all 0.3s ease-in-out;
      transform: rotate(-180deg) !important;
    }
  }
}

.search-tp-general-div {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
  background: #fff;
  box-shadow: 0px 25px 30px #0000001a;
  border-radius: 15px;

  .search-tp-general-inner-div {
    padding: 36px 40px 27px 36px;
  }

  .plr-15 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .width-100-202 {
    flex: 0 0 calc(100% - 202px);
    max-width: calc(100% - 202px);
  }

  .width-202 {
    flex: 0 0 202px;
    max-width: 202px;
  }

  .width-470 {
    flex: 0 0 470px;
    max-width: 470px;
  }

  .width-420 {
    flex: 0 0 420px;
    max-width: 420px;
  }

  .width-335 {
    flex: 0 0 335px;
    max-width: 335px;
  }

  .form-group-custom {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .label-div {
      width: 130px;

      label {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 600;
        letter-spacing: 0.28px;
        color: #083257;
        padding: 8px 0 7px 0;
      }
    }

    .input-control {
      max-width: calc(100% - 130px);
      width: 100%;

      .form-control {
        font-size: 14px;
        color: #000;
        min-height: 36px;
        padding: 5px 18px 5px 18px;
        border: 1px solid #eaeaea;
        border-radius: 10px;
        line-height: 24px;
        margin: 0 0 5px 0;
        font-weight: 500;
        max-width: 280px;
        box-shadow: none;

        &::-webkit-input-placeholder {
          color: rgba(0, 0, 0, 0.3);
        }

        &::-moz-placeholder {
          color: rgba(0, 0, 0, 0.3);
        }

        &:-ms-input-placeholder {
          color: rgba(0, 0, 0, 0.3);
        }

        &:-moz-placeholder {
          color: rgba(0, 0, 0, 0.3);
        }
      }

      .form-control[readonly] {
        background-color: #fff;
        opacity: 1;
      }
    }
  }

  .btn-group-div {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    .btn.btn-common-primary.btn-common-search {
      min-width: auto;
      font-size: 16px;
      padding: 7px 40px 7px 40px;
      min-height: 36px;
      margin: 0;
    }
  }
}

.custom-checkbox-general {
  padding-left: 0;

  .custom-control-input {
    display: none;
  }

  .custom-control-label {
    font-size: 14px;
    line-height: 21px;
    padding-left: 22px;
    margin-bottom: 0;
    color: #f98d29;
    font-weight: 600;
    cursor: pointer;

    &::before {
      top: 0;
      height: 23px;
      width: 23px;
      border-radius: 5px;
      background-color: transparent;
      border: 1px solid #d6e3f5;
    }

    &::after {
      top: 0;
      left: 0;
      display: block;
      width: 23px;
      height: 23px;
    }
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    background: transparent linear-gradient(141deg, #fc711a 0%, #f7b733 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.122' height='10.375' viewBox='0 0 14.122 10.375'%3E%3Cpath id='Path_6264' data-name='Path 6264' d='M13.958,6.407,5.866,14.5a.555.555,0,0,1-.784,0L.162,9.545a.556.556,0,0,1,0-.785L1.337,7.585a.554.554,0,0,1,.784,0l3.357,3.379L12,4.446a.556.556,0,0,1,.785,0l1.176,1.177A.553.553,0,0,1,13.958,6.407Z' transform='translate(0 -4.284)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-size: 14px 11px;
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
  }
}

.action-div {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  .action-row-div {
    display: flex;
    justify-content: flex-end;
  }

  .btn.btn-secondary-smallcst {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0;
    color: #fff;
    background: transparent linear-gradient(244deg, #00c6ff 0%, #0072ff 100%);
    border-radius: 10px;
    padding: 7px 20px 6px 20px;
    min-width: 93px;
    transition: all 0.8s;
    border: none;

    &:hover,
    &:focus,
    &:active {
      background: transparent linear-gradient(244deg, #00c6ff 0%, #0072ff 100%);
      box-shadow: 0 5px 15px 0 rgba(0, 115, 255, 0.2);
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
      background: transparent linear-gradient(244deg, #00c6ff 0%, #0072ff 100%);
      box-shadow: 0 5px 15px 0 rgba(0, 115, 255, 0.2);
    }
  }

  .btn.btn-primary-smallcst {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0;
    color: #fff;
    background: transparent linear-gradient(246deg, #f7b733 0%, #fc711a 100%);
    border-radius: 10px;
    padding: 7px 8px 6px 8px;
    min-width: 93px;
    transition: all 0.8s;
    border: none;

    &:hover,
    &:focus,
    &:active {
      background: transparent linear-gradient(246deg, #f7b733 0%, #fc711a 100%);
      box-shadow: 0 5px 15px 0 #f7b6334d;
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
      background: transparent linear-gradient(246deg, #f7b733 0%, #fc711a 100%);
      box-shadow: 0 5px 15px 0 #f7b6334d;
    }
  }

  .btn.btn-danger-smallcst {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0;
    color: #fff;
    background: transparent linear-gradient(249deg, #f87777 0%, #ff223b 100%);
    border-radius: 10px;
    padding: 7px 20px 6px 20px;
    min-width: 93px;
    transition: all 0.8s;
    border: none;

    &:hover,
    &:focus,
    &:active {
      background: transparent linear-gradient(249deg, #f87777 0%, #ff223b 100%);
      box-shadow: 0 5px 15px 0 rgba(255, 34, 60, 0.2);
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
      background: transparent linear-gradient(249deg, #f87777 0%, #ff223b 100%);
      box-shadow: 0 5px 15px 0 rgba(255, 34, 60, 0.2);
    }
  }

  .mr-20 {
    margin-right: 20px;
  }
}

.table-card-general-div {
  padding: 0;
  margin: 0;
  position: relative;

  .table-card-bx {
    background: #fff;
    box-shadow: 0px 25px 30px #0000001a;
    border-radius: 20px;
    margin: 0 0 40px 0;

    .table-card-bx-tp {
      padding: 9px 35px 9px 35px;
      margin: 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      border-bottom: 1px solid #eff2f6;
      min-height: 56px;

      .title-txt-div {
        h4 {
          font-size: 14px;
          line-height: 1.5;
          font-weight: 600;
          letter-spacing: 0.28px;
          color: #083257;
          padding: 0;
        }
      }

      .table-card-bx-tp-rf {
        .btn-group-bx {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .btn.btn-common-danger {
            min-height: 36px;
            padding: 7px 24px 7px 24px;
            font-size: 16px;
          }

          .btn.btn-common-primary-36 {
            min-height: 36px;
            padding: 7px 24px 5px 24px;
            min-width: 175px;
            margin: 0;
            font-size: 16px;
          }

          .btn.btn-common-secondary-36 {
            min-height: 36px;
            padding: 7px 24px 7px 24px;
            min-width: 175px;
            margin: 0;
            font-size: 16px;
          }

          .btn-hidden {
            display: none;
          }

          .btn.mr-25 {
            margin-right: 25px;
          }

          .btn.ml-25 {
            margin-left: 25px;
          }
        }
      }
    }

    .table-card-bx-body {
      .table-responsive {
        min-height: 555px;
      }

      .custom-table {
        margin-bottom: 25px;

        td,
        th {
          padding: 10px 15px;
          border-top: 1px solid transparent;
          font-size: 14px;
          line-height: 18px;
          font-weight: 600;
          letter-spacing: 0.14px;
          color: #707070;

          &:first-child {
            padding-left: 35px;
          }

          &:last-child {
            padding-right: 35px;
          }
        }

        td.no-found-td {
          vertical-align: top;
        }

        thead {
          th {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 600;
            letter-spacing: 0.28px;
            color: #083257;
            border-bottom: 1px solid #eff2f6;
            padding-top: 17px;
            padding-bottom: 16px;
          }
        }

        tbody + tbody {
          border-top: 1px solid transparent;
        }

        .width-86 {
          width: 86px;
          min-width: 86px;
        }

        .width-140 {
          width: 140px;
          min-width: 140px;
        }

        .width-170 {
          width: 170px;
          min-width: 170px;
        }

        .width-180 {
          width: 180px;
          min-width: 180px;
        }

        .width-190 {
          width: 190px;
          min-width: 190px;
        }

        .width-260 {
          width: 260px;
          min-width: 260px;
        }

        .width-270 {
          width: 270px;
          min-width: 270px;
        }

        .width-275 {
          width: 275px;
          min-width: 275px;
        }

        .width-280 {
          width: 280px;
          min-width: 280px;
        }

        .width-290 {
          width: 290px;
          min-width: 290px;
        }

        .width-300 {
          width: 300px;
          min-width: 300px;
        }

        .width-310 {
          width: 310px;
          min-width: 310px;
        }

        .width-345 {
          width: 345px;
          min-width: 345px;
        }

        tbody {
          td {
            height: 65px;
            font-weight: 500;
            vertical-align: middle;
          }

          tr:first-child {
            td {
              padding-top: 20px;
            }
          }
        }
      }

      .session-img-txt-div {
        padding: 0;
        margin: 0;
        position: relative;

        .session-img-txt-row {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          color: inherit;

          .session-img-bx {
            width: 45px;

            .img-fluid {
              height: 45px;
              width: 45px;
              border-radius: 10px;
              object-fit: cover;
            }
          }

          .session-txt-bx {
            width: calc(100% - 45px);
            padding: 0 0 0 25px;
          }
        }
      }
    }
  }

  .custom-pagination-div {
    padding: 10px 0 10px 10px;
    margin: 0;
    position: relative;

    .pagination {
      flex-wrap: wrap;

      .btn.btn-back-auth {
        height: 36px;
        width: 36px;
        border: none;
      }

      .previous-page-item {
        margin-right: 11px;
      }

      .next-page-item {
        margin-left: 11px;
      }

      .page-link {
        font-size: 16px;
        line-height: 25px;
        font-weight: 600;
        letter-spacing: 0;
        color: #ffd7aa;
        background: transparent;
        border: none;
        padding: 0;
        min-height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 30px;
        padding: 2px 10px;
      }

      .active {
        .page-link {
          color: #f98d29;
        }
      }
    }
  }
}

.no-found-details-div {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  .no-found-details-row {
    padding: 64px 15px 60px 15px;
    margin: 0;
    position: relative;
    width: 100%;

    .thumb-div {
      text-align: center;
      margin: 0 auto 20px auto;
      height: 80px;
      width: 80px;
      background: #eff2f6;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      .no-upcoming-icon {
        padding-right: 3px;
        padding-top: 5px;
        object-fit: contain;
      }

      .no-contacts-icon {
        padding-right: 5px;
        padding-top: 5px;
        object-fit: contain;
      }
    }

    .content-div {
      padding: 0;
      margin: 0;

      h2 {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 600;
        letter-spacing: 0;
        color: #083257;
        display: block;
        margin: 0 0 8px 0;
        text-align: center;
      }

      p {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0;
        color: rgba(8, 50, 87, 0.4);
        text-align: center;
        margin: 0 auto 20px auto;
        max-width: 332px;
      }

      .p-max-2 {
        max-width: 335px;
      }

      .p-max-3 {
        max-width: 265px;
      }

      .p-max-4 {
        max-width: 285px;
      }

      .btn-div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .btn-common-primary-outline {
          min-height: 48px;
        }
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1650px) {
  .search-tp-general-div {
    .width-470 {
      flex: 0 0 100%;
      max-width: 100%;

      .form-group-custom {
        .input-control {
          .form-control {
            max-width: calc(100% - 35px);
          }
        }
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1450px) {
  .search-tp-general-div {
    .width-470 {
      flex: 0 0 100%;
      max-width: 100%;

      .form-group-custom {
        .input-control {
          .form-control {
            max-width: 100%;
          }
        }
      }
    }

    .width-420 {
      flex: 0 0 100%;
      max-width: 100%;

      .date-group-custom .max-width-217 {
        max-width: 100%;
      }

      .form-group-custom .input-control .form-control {
        max-width: 100%;
      }
    }

    .width-335 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .table-card-general-div {
    .table-card-bx {
      .table-card-bx-body {
        .no-found-table-responsive {
          .custom-table {
            .width-280 {
              width: 180px;
              min-width: 180px;
            }

            .width-345 {
              width: 200px;
              min-width: 200px;
            }

            .width-190 {
              width: 120px;
              min-width: 120px;
            }

            .width-270 {
              width: 120px;
              min-width: 120px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .inner-main-general-root {
    padding: 30px 0 0 0;

    .heading-title-div {
      margin: 0 0 25px 0;

      h2 {
        font-size: 24px;
      }
    }
  }

  .search-tp-general-div {
    .search-tp-general-inner-div {
      padding: 20px 20px 25px 20px;
    }

    .width-100-202 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .width-202 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .width-470 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .width-420 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .width-335 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .form-group-custom {
      .label-div {
        width: 100%;
      }

      .input-control {
        max-width: 100%;

        .form-control {
          max-width: 100%;
        }
      }
    }

    .btn-group-div {
      margin: 10px 0 0 0;

      .btn.btn-common-primary.btn-common-search {
        width: 100%;
      }
    }
  }

  .date-group-custom {
    .max-width-217 {
      max-width: 100%;
    }
  }

  .table-card-general-div {
    .table-card-bx {
      .table-card-bx-tp {
        padding: 9px 20px 9px 20px;

        .table-card-bx-tp-rf {
          .btn-group-bx {
            .btn.btn-common-danger {
              min-height: 30px;
              padding: 7px 12px 7px 12px;
              font-size: 11px;
              min-width: auto;
              line-height: 16px;
            }

            .btn.btn-common-primary-36 {
              min-height: 30px;
              padding: 7px 12px 7px 12px;
              font-size: 11px;
              line-height: 16px;
              min-width: auto;
            }

            .btn.btn-common-secondary-36 {
              min-height: 30px;
              padding: 7px 12px 7px 12px;
              font-size: 11px;
              min-width: auto;
              line-height: 16px;
            }

            .btn.ml-25 {
              margin-left: 6px;
            }
          }
        }
      }

      .table-card-bx-body {
        .custom-table {
          th,
          td {
            &:first-child {
              padding-left: 20px;
            }

            &:last-child {
              padding-left: 20px;
            }
          }

          .width-86 {
            width: 60px;
            min-width: 60px;
          }
        }

        .no-found-table-responsive {
          .custom-table {
            .width-280 {
              width: 130px;
              min-width: 130px;
            }

            .width-345 {
              width: 165px;
              min-width: 165px;
            }

            .width-190 {
              width: 120px;
              min-width: 120px;
            }

            .width-270 {
              width: 80px;
              min-width: 80px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .inner-main-general-root {
    padding: 30px 0 0 0;

    .heading-title-div {
      margin: 0 0 25px 0;

      h2 {
        font-size: 24px;
      }
    }
  }

  .search-tp-general-div {
    .search-tp-general-inner-div {
      padding: 20px 20px 25px 20px;
    }

    .width-100-202 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .width-202 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .width-470 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .width-420 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .width-335 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .form-group-custom {
      .label-div {
        width: 100%;
      }

      .input-control {
        max-width: 100%;

        .form-control {
          max-width: 100%;
        }
      }
    }

    .btn-group-div {
      margin: 10px 0 0 0;

      .btn.btn-common-primary.btn-common-search {
        width: 100%;
      }
    }
  }

  .date-group-custom {
    .max-width-217 {
      max-width: 100%;
    }
  }

  .table-card-general-div {
    .table-card-bx {
      .table-card-bx-tp {
        padding: 9px 20px 9px 20px;
      }

      .table-card-bx-body {
        .custom-table {
          th,
          td {
            &:first-child {
              padding-left: 20px;
            }

            &:last-child {
              padding-left: 20px;
            }
          }

          .width-86 {
            width: 60px;
            min-width: 60px;
          }
        }
      }
    }
  }
}
