.modal.modal-message {
  .modal-dialog {
    max-width: 300px;
    margin: 0.5rem auto;
  }

  .modal-content {
    background: #fff;
    box-shadow: 0 2px 16px 0 rgba(153, 155, 168, 0.12);
    border-radius: 0;
    border: none;
  }

  .modal-body {
    padding: 20px;
  }

  .modal-message-root {
    padding: 0;
    margin: 0;
    position: relative;

    .modal-message-text {
      padding: 50px 0 30px 0;
      margin: 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      min-height: 200px;

      h2 {
        font-weight: 500;
        font-size: 24px;
        color: #555;
        text-align: center;
        padding: 0;
        margin: 0 0 20px 0;
        display: block;
      }
    }

    .modal-btn-group {
      padding: 0;
      margin: 0;
      position: relative;

      .modal-btn-group-row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        .btn.btn-general {
          margin: 0;
          min-width: 110px;
          width: 100%;
          max-width: calc(50% - 4px);

          &.mr-4p {
            margin-right: 4px;
          }

          &.ml-4p {
            margin-left: 4px;
          }
        }
      }
    }
  }
}

.modal-backdrop {
  z-index: 9999;
  background-color: #000;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  &.show {
    opacity: 0.5;
  }
}

.modal.right {
  z-index: 99999;

  .modal-dialog {
    position: fixed;
    margin: auto;
    width: 100%;
    max-width: 550px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }

  &.fade {
    .modal-dialog {
      right: -720px;
      transition: opacity 0.5s linear, right 0.5s ease-out;
    }

    &.show {
      .modal-dialog {
        right: 0;
      }
    }
  }

  .modal-content {
    height: 100%;
    border-radius: 0;
    border: none;
    overflow-y: auto;
    background: #fff;
    box-shadow: -5px 0 10px 0 rgba(153, 155, 168, 0.12);
  }

  .modal-header {
    padding: 20px 30px 15px 30px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    h4.modal-title {
      font-weight: 400;
      font-size: 20px;
      color: #252631;
      width: calc(100% - 40px);
    }

    .close {
      padding: 0;
      margin: 0 0 0 auto;
      opacity: 1;
      color: #252631;
      font-size: 24px;
      outline: none;
    }
  }

  .modal-body {
    padding: 15px 30px 15px 30px;
  }

  .common-modal-body {
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    position: relative;

    .download-text-group {
      padding: 0;
      margin: 0 0 30px 0;
      position: relative;

      .label-heading-div {
        padding: 0;
        margin: 0 0 20px 0;
        display: block;

        &.mb-15 {
          margin-bottom: 15px;
        }

        h4 {
          font-weight: 400;
          font-size: 16px;
          color: #252631;
          line-height: 24px;
          margin: 0 0 10px 0;

          .icon-download {
            margin: 0 0 0 5px;
            font-size: 18px;
            color: #4d7cfe;
          }
        }
      }

      .label-body-div {
        padding: 0;
        margin: 0;
        position: relative;

        ul {
          list-style: none;
        }

        .link.link-download {
          font-weight: 500;
          font-size: 12px;
          color: #778ca2;
          margin: 0 0 10px 0;
          display: block;

          .icon-download {
            margin: 0 0 0 5px;
            font-size: 18px;
            color: #4d7cfe;
          }
        }
      }
    }

    .form-custom-div {
      .form-group-custom {
        .form-control {
          color: #1b1e24;
        }
      }
    }

    .modal-btn-space-group {
      padding: 5px 0 5px 0;
      margin: 0;
      position: relative;

      .modal-btn-space-group-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        .btn.btn-general {
          margin: 0;
        }
      }
    }

    .main-heading-h4 {
      padding: 0;
      margin: 0 0 20px 0;
      position: relative;

      h4 {
        font-weight: 400;
        font-size: 16px;
        color: #252631;
        line-height: 24px;
        margin: 0 0 5px 0;
      }
    }

    .text-detail-view-new-worker {
      padding: 0;
      margin: 0 0 20px 0;
      position: relative;

      h3 {
        padding: 0;
        margin: 0 0 20px 0;
        font-size: 16px;
        line-height: 1.4;
        color: #9c9fb8;
        font-weight: 400;
        display: block;
        width: 100%;
      }

      .cwk-list-details-div {
        padding: 0;
        margin: 0;
        display: block;
        position: relative;
        width: 100%;

        p {
          padding: 0;
          margin: 0 0 10px 0;
          font-size: 14px;
          line-height: 1.5;
          color: #9c9fb8;
          display: block;
        }
      }
    }

    .modal-add-nw-top-height-div {
      min-height: calc(100vh - 155px);
    }
  }
}

@media (max-width: 767px) {
  .modal.right {
    .modal-header {
      padding: 20px 20px 10px 20px;
    }

    .modal-body {
      padding: 20px 20px 20px 20px;
    }

    .common-modal-body {
      padding: 0;

      .common-header-div {
        .title-heading-div {
          margin: 0 0 30px 0;

          h2 {
            font-size: 24px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .modal.right {
    .modal-header {
      padding: 20px 20px 10px 20px;
    }

    .modal-dialog {
      max-width: 500px;
    }

    .modal-body {
      padding: 20px 20px 10px 20px;
    }

    .common-modal-body {
      .common-header-div {
        .title-heading-div {
          margin: 0 0 30px 0;

          h2 {
            font-size: 24px;
          }
        }
      }
    }
  }
}
