.custom-checkbox.custom-checkbox-2.custom-checkbox-2.black .custom-control-label {
  font-size: 18px;
  color: #000;
  font-weight: 500;
  line-height: 22px;
}

.custom-checkbox.custom-checkbox-2.custom-checkbox-2.black .custom-control-label::after {
  top: 0;
}

.custom-checkbox.custom-checkbox-2.custom-checkbox-2.black .custom-control-label::before {
  top: 0;
}

.shedule-session-section {
  padding: 40px 0 0 0;
}

.shedule-session-section .shecdule-herader {
  margin-bottom: 60px;
}

.shedule-session-section .shecdule-herader h3 {
  font-size: 38px;
  line-height: 46px;
  color: #083257;
  font-weight: 600;
  margin-bottom: 20px;
}

.shedule-session-section .schedule-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shedule-session-section .schedule-body .schdule-left {
  width: 280px;
}

.shedule-session-section .schedule-body .schdule-left .upload-div {
  padding: 0px 20px 20px 0px;
}

.shedule-session-section .schedule-body .schdule-left .upload-div .img-upload {
  height: 167px;
  width: 167px;
  border-radius: 100px;
  margin-left: 12px;
  overflow: hidden;
}

.shedule-session-section .schedule-body .schdule-left .upload-div .img-upload img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.shedule-session-section .schedule-body .schdule-left .upload-div .custom-file label {
  text-align: left;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #F98D29;
  border: 0;
  padding: 10px 0;
}

.shedule-session-section .schedule-body .schdule-left .upload-div .custom-file label::after {
  display: none;
}

.shedule-session-section .schedule-body .schdule-left .upload-div .custom-file input {
  display: none !important;
}

.shedule-session-section .schedule-body .schdule-right {
  padding-left: 20px;
  width: calc(100% - 280px);
  min-width: 670px;
}

.shedule-session-section .schedule-body .schdule-right form {
  width: 100%;
}

.shedule-session-section .schedule-body .schdule-right form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.shedule-session-section .schedule-body .schdule-right form .form-group .form-label {
  width: 215px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 600;
}

.shedule-session-section .schedule-body .schdule-right form .form-group .form-input {
  width: calc(100% - 215px);
  max-width: 450px;
  position: relative;
}

.shedule-session-section .schedule-body .schdule-right form .form-group .form-input .form-control {
  border: 1px solid #EAEAEA !important;
  height: 46px;
  padding-left: 20px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  overflow: hidden;
  outline: 0;
  border-radius: 10px;
}

.shedule-session-section .schedule-body .schdule-right form .form-group .date.active ~ .btn-picker:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.shedule-session-section .schedule-body .schdule-right form .form-group .btn-picker {
  height: 46px;
  width: 46px;
  position: absolute;
  top: 0;
  min-width: 45px;
  background: transparent linear-gradient(132deg, #0072FF 0%, #00C6FF 100%) 0% 0% no-repeat padding-box;
  border-radius: 10px !important;
  right: 14px;
}

.shedule-session-section .schedule-body .schdule-right form .form-group .btn-picker::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg id='arrow-down' xmlns='http://www.w3.org/2000/svg' width='12' height='7.41' viewBox='0 0 12 7.41'%3E%3Cpath id='Path_26' data-name='Path 26' d='M7.41,7.84,12,12.42l4.59-4.58L18,9.25l-6,6-6-6Z' transform='translate(-6 -7.84)' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-size: auto;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 45px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.shedule-session-section .schedule-body .schdule-right form .form-group .pad-60 {
  padding-right: 75px;
}

.shedule-session-section .schedule-body .schdule-right form .form-group .form-control[readonly] {
  background-color: #fff;
  opacity: 1;
}

.shedule-session-section .schedule-body .schdule-right form .select2-container {
  width: calc(100% - 75px) !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  margin-right: 70px;
}

.shedule-session-section .schedule-body .schdule-right form .select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 45px;
  line-height: 40px;
  font-size: 18px;
  color: #000;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.shedule-session-section .schedule-body .schdule-right form .select2-container--default .select2-selection--single {
  height: 45px;
  line-height: 40px;
  font-size: 18px;
  color: #000;
  font-weight: 500;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 12px;
  outline: none;
  border-radius: 10px !important;
  border: 1px solid #D6E3F5 !important;
}

.shedule-session-section .schedule-body .schdule-right form .select2-selection__placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
}

.shedule-session-section .schedule-body .schdule-right form .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 45px;
  width: 45px;
  min-width: 45px;
  height: 45px;
  background: transparent linear-gradient(132deg, #0072FF 0%, #00C6FF 100%) 0% 0% no-repeat padding-box;
  border-radius: 10px !important;
  right: -60px;
}

.shedule-session-section .schedule-body .schdule-right form .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.shedule-session-section .schedule-body .schdule-right form .select2-container--default .select2-selection--single .select2-selection__arrow::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg id='arrow-down' xmlns='http://www.w3.org/2000/svg' width='12' height='7.41' viewBox='0 0 12 7.41'%3E%3Cpath id='Path_26' data-name='Path 26' d='M7.41,7.84,12,12.42l4.59-4.58L18,9.25l-6,6-6-6Z' transform='translate(-6 -7.84)' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-size: auto;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 45px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.shedule-session-section .schedule-body .schdule-right form .select2-container--open .select2-selection__arrow:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(-180deg) !important;
          transform: rotate(-180deg) !important;
}

.shedule-session-section .schedule-body .schdule-right form .form-top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.shedule-session-section .schedule-body .schdule-right form .label-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shedule-session-section .schedule-body .schdule-right form .label-center .custom-control-label::before {
  top: 12px;
}

.shedule-session-section .schedule-body .schdule-right form .label-center .custom-control-label::after {
  top: 12px;
}

.shedule-session-section .schedule-body .schdule-right form .session-pass {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shedule-session-section .schedule-body .schdule-right form .session-pass span.copy-img {
  margin: 0 20px;
}

hr.line-2 {
  border-top: 2px solid #EFF2F6;
}

@media (max-width: 767px) {
  .shedule-session-section .shecdule-herader {
    margin-bottom: 30px;
  }
  .shedule-session-section .shecdule-herader h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .shedule-session-section .schedule-body .schdule-left {
    width: 100%;
  }
  .shedule-session-section .schedule-body .schdule-left .upload-div {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
  .shedule-session-section .schedule-body .schdule-left .upload-div .img-upload {
    height: 100px;
    width: 100px;
  }
  .shedule-session-section .schedule-body .schdule-left .upload-div .custom-file label {
    text-align: center;
  }
  .shedule-session-section .schedule-body .schdule-right {
    width: 100%;
    min-width: unset;
  }
  .shedule-session-section .schedule-body .schdule-right form .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shedule-session-section .schedule-body .schdule-right form .form-group .form-label {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }
  .shedule-session-section .schedule-body .schdule-right form .form-group .form-input {
    width: 100%;
    max-width: unset;
  }
  .shedule-session-section .schedule-body .schdule-right form .form-group .form-input .select2-container {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .shedule-session-section .schedule-body .schdule-left {
    width: 100% !important;
  }
  .shedule-session-section .schedule-body .schdule-left .upload-div {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
    width: 100%;
  }
  .shedule-session-section .schedule-body .schdule-left .upload-div .img-upload {
    height: 167px;
    width: 167px;
  }
  .shedule-session-section .schedule-body .schdule-left .upload-div .custom-file label {
    text-align: center;
  }
}
/*# sourceMappingURL=shedule-session.css.map */