.custom-checkbox.custom-checkbox-2.custom-checkbox-2.black {
  max-width: unset;
}

.custom-checkbox.custom-checkbox-2.custom-checkbox-2.black .custom-control-label {
  font-size: 18px;
  color: #000;
  font-weight: 500;
  line-height: 22px;
}

.custom-checkbox.custom-checkbox-2.custom-checkbox-2.black .custom-control-label::after {
  top: 0;
}

.custom-checkbox.custom-checkbox-2.custom-checkbox-2.black .custom-control-label::before {
  top: 0;
}

.checkbox-sm .custom-control-label {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.btn-outline-orange {
  background-color: transparent;
  -webkit-box-shadow: 0px 3px 26px #FFFFFF29;
          box-shadow: 0px 3px 26px #FFFFFF29;
  border-radius: 60px;
  border: 2px solid #F98D29;
  color: #F98D29 !important;
  opacity: 1;
}

.btn-outline-orange:hover {
  -webkit-box-shadow: 0 5px 15px 0 rgba(247, 182, 51, 0.3);
          box-shadow: 0 5px 15px 0 rgba(247, 182, 51, 0.3);
  border: 2px solid #F98D29;
  color: #F98D29 !important;
}

.btn-outline-orange:focus {
  border: 2px solid #F98D29;
  color: #F98D29 !important;
}

.btn-outline-orange:active {
  border: 2px solid #F98D29;
  color: #F98D29 !important;
}

.btn.btn-custom.btn-60 {
  width: 100%;
  max-width: 247px;
  height: 60px;
  font-size: 18px;
  line-height: 22px;
}

.back-to-btn a.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  color: #000;
  line-height: 22px;
  font-weight: 600;
}

.back-to {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background: transparent linear-gradient(127deg, #FC711A 0%, #F7B733 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  outline: 0 !important;
}

.back-to::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7.41' viewBox='0 0 12 7.41'%3E%3Cpath id='Path_26' data-name='Path 26' d='M1.41,0,6,4.58,10.59,0,12,1.41l-6,6-6-6Z' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.back-to span {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flatpickr-day:hover, .selected {
  border-color: #fff !important;
  background: transparent linear-gradient(51deg, #FC711A 0%, #F7B733 100%) 0% 0% no-repeat padding-box !important;
  border-radius: 10px !important;
  color: #fff !important;
}

.flatpickr-day.today {
  border-color: #FC711A !important;
  border-radius: 10px !important;
}

.progress-bar {
  background: transparent linear-gradient(132deg, #0072FF 0%, #00C6FF 100%) 0% 0% no-repeat padding-box;
  border-radius: 100px;
  position: relative;
}

.progress-bar:before {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  display: block;
  content: '';
  z-index: 2;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
  -webkit-animation: progress-bar-stripes 1s linear infinite;
          animation: progress-bar-stripes 1s linear infinite;
}

.flatpickr-calendar {
  -webkit-box-shadow: 0px 2px 3px #0000000d;
          box-shadow: 0px 2px 3px #0000000d;
  border: 1px solid #0000000d;
  border-radius: 10px;
  width: 100%;
  max-width: 360px;
  margin-top: 10px;
}

.flatpickr-calendar::before, .flatpickr-calendar::after {
  display: none;
}

.flatpickr-calendar .flatpickr-day:hover,
.flatpickr-calendar .selected {
  border-color: #fff;
  background: transparent linear-gradient(51deg, #fc711a 0%, #f7b733 100%) 0% 0% no-repeat padding-box !important;
  border-radius: 10px;
  color: #fff;
}

.flatpickr-calendar .flatpickr-day.today {
  border-color: #fc711a;
  border-radius: 10px;
}

.flatpickr-calendar .flatpickr-weekdays {
  height: 40px;
}

.flatpickr-calendar span.flatpickr-weekday {
  color: #bebebe;
  font-weight: 500;
  font-size: 16px;
}

.flatpickr-calendar .flatpickr-current-month span.cur-month {
  font-weight: 600;
}

.flatpickr-calendar .flatpickr-current-month input.cur-year {
  font-weight: 600;
}

.flatpickr-calendar .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-calendar .flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
  left: 10px;
  top: 10px;
}

.flatpickr-calendar .flatpickr-months .flatpickr-month {
  height: 56px;
}

.flatpickr-calendar .flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-calendar .flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  right: 10px;
  top: 10px;
}

.flatpickr-calendar .flatpickr-current-month {
  height: 56px;
  padding: 17px 0 10px 0;
}

.flatpickr-calendar .flatpickr-rContainer {
  padding: 0 10px 10px 10px;
}

.flatpickr-calendar .flatpickr-days {
  width: 100%;
}

.flatpickr-calendar .dayContainer {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.flatpickr-calendar .flatpickr-day {
  max-width: 43px;
  height: 43px;
  line-height: 43px;
}

.flatpickr-calendar.open.arrowBottom {
  margin-top: -15px;
}

.flatpickr-calendar.open.arrowTop {
  margin-top: 15px;
}

hr.line-2 {
  border-top: 2px solid #EFF2F6;
}

.shedule-session-section {
  padding: 40px 0 0 0;
}

.shedule-session-section .shecdule-herader {
  margin-bottom: 60px;
}

.shedule-session-section .shecdule-herader h3 {
  font-size: 38px;
  line-height: 46px;
  color: #083257;
  font-weight: 600;
  margin-bottom: 20px;
}

.shedule-session-section .schedule-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shedule-session-section .schedule-body .schdule-left {
  width: 280px;
}

.shedule-session-section .schedule-body .schdule-left .upload-div {
  padding: 0px 20px 20px 0px;
}

.shedule-session-section .schedule-body .schdule-left .upload-div .img-upload {
  height: 167px;
  width: 167px;
  border-radius: 100px;
  margin-left: 12px;
  overflow: hidden;
}

.shedule-session-section .schedule-body .schdule-left .upload-div .img-upload img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.shedule-session-section .schedule-body .schdule-left .upload-div .custom-file label {
  text-align: left;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #F98D29;
  border: 0;
  padding: 10px 0;
}

.shedule-session-section .schedule-body .schdule-left .upload-div .custom-file label::after {
  display: none;
}

.shedule-session-section .schedule-body .schdule-left .upload-div .custom-file input {
  display: none !important;
}

.shedule-session-section .schedule-body .schdule-right {
  padding-left: 20px;
  width: calc(100% - 280px);
  min-width: 670px;
}

.shedule-session-section .schedule-body .schdule-right form {
  width: 100%;
}

.shedule-session-section .schedule-body .schdule-right form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 30px;
}

.shedule-session-section .schedule-body .schdule-right form .form-group .form-label {
  width: 215px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 10px;
}

.shedule-session-section .schedule-body .schdule-right form .form-group .form-input {
  width: calc(100% - 215px);
  max-width: 450px;
  position: relative;
}

.shedule-session-section .schedule-body .schdule-right form .form-group .form-input .form-control {
  border: 1px solid #EAEAEA !important;
  height: 46px;
  padding-left: 20px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  overflow: hidden;
  outline: 0;
  border-radius: 10px;
}

.shedule-session-section .schedule-body .schdule-right form .form-group .date.active ~ .btn-picker:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.shedule-session-section .schedule-body .schdule-right form .form-group .btn-picker {
  height: 46px;
  width: 46px;
  position: absolute;
  bottom: 0;
  min-width: 45px;
  background: transparent linear-gradient(132deg, #0072FF 0%, #00C6FF 100%) 0% 0% no-repeat padding-box;
  border-radius: 10px !important;
  right: 14px;
}

.shedule-session-section .schedule-body .schdule-right form .form-group .btn-picker::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg id='arrow-down' xmlns='http://www.w3.org/2000/svg' width='12' height='7.41' viewBox='0 0 12 7.41'%3E%3Cpath id='Path_26' data-name='Path 26' d='M7.41,7.84,12,12.42l4.59-4.58L18,9.25l-6,6-6-6Z' transform='translate(-6 -7.84)' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-size: auto;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 45px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.shedule-session-section .schedule-body .schdule-right form .form-group .pad-60 {
  padding-right: 75px;
}

.shedule-session-section .schedule-body .schdule-right form .form-group .form-control[readonly] {
  background-color: #fff;
  opacity: 1;
}

.shedule-session-section .schedule-body .schdule-right form .select2-container {
  width: calc(100% - 75px) !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  margin-right: 70px;
}

.shedule-session-section .schedule-body .schdule-right form .select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 45px;
  line-height: 40px;
  font-size: 18px;
  color: #000;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.shedule-session-section .schedule-body .schdule-right form .select2-container--default .select2-selection--single {
  height: 45px;
  line-height: 40px;
  font-size: 18px;
  color: #000;
  font-weight: 500;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 12px;
  outline: none;
  border-radius: 10px !important;
  border: 1px solid #D6E3F5 !important;
}

.shedule-session-section .schedule-body .schdule-right form .select2-selection__placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
}

.shedule-session-section .schedule-body .schdule-right form .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 45px;
  width: 45px;
  min-width: 45px;
  height: 45px;
  background: transparent linear-gradient(132deg, #0072FF 0%, #00C6FF 100%) 0% 0% no-repeat padding-box;
  border-radius: 10px !important;
  right: -60px;
}

.shedule-session-section .schedule-body .schdule-right form .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.shedule-session-section .schedule-body .schdule-right form .select2-container--default .select2-selection--single .select2-selection__arrow::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg id='arrow-down' xmlns='http://www.w3.org/2000/svg' width='12' height='7.41' viewBox='0 0 12 7.41'%3E%3Cpath id='Path_26' data-name='Path 26' d='M7.41,7.84,12,12.42l4.59-4.58L18,9.25l-6,6-6-6Z' transform='translate(-6 -7.84)' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-size: auto;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 45px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.shedule-session-section .schedule-body .schdule-right form .select2-container--open .select2-selection__arrow:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(-180deg) !important;
          transform: rotate(-180deg) !important;
}

.shedule-session-section .schedule-body .schdule-right form .form-top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.shedule-session-section .schedule-body .schdule-right form .label-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shedule-session-section .schedule-body .schdule-right form .label-center .custom-control-label::before {
  top: 12px;
}

.shedule-session-section .schedule-body .schdule-right form .label-center .custom-control-label::after {
  top: 12px;
}

.shedule-session-section .schedule-body .schdule-right form .session-pass {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shedule-session-section .schedule-body .schdule-right form .session-pass span.copy-img {
  margin: 0 20px;
}

.invalid-feedback {
  font-size: 18px;
  line-height: 22px;
  color: #FF1A46;
  margin-bottom: 15px;
  font-weight: 600;
  color: #FF1A46;
}

.add-attendees-section {
  padding: 30px 0;
}

.add-attendees-section .heading h3 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
  color: #083257;
  margin-bottom: 40px;
}

.add-attendees-section .attendees-body .form-group {
  margin-bottom: 26px;
}

.add-attendees-section .attendees-body .form-group label {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 16px;
}

.add-attendees-section .attendees-body .form-group .form-control {
  border: 1px solid #EAEAEA !important;
  height: 46px;
  padding-left: 20px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  overflow: hidden;
  outline: 0;
  border-radius: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.add-attendees-section .attendees-body .form-group .session-link {
  font-size: 18px;
  line-height: 22px;
  color: #F98D29;
  font-weight: 600;
  padding: 10px 0;
  display: block;
}

.add-attendees-section .attendees-footer {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-attendees-section .attendees-footer .btn {
  margin: 0   12.5px;
}

.prefrences-section {
  padding: 40px 0 0 0;
}

.prefrences-section .valid-feedback.text-black {
  color: #000000 !important;
  font-size: 14px;
  line-height: 17px;
  font-family: 500;
  margin-top: 5px;
}

.prefrences-section .prefrences-herader {
  margin-bottom: 60px;
}

.prefrences-section .prefrences-herader h3 {
  font-size: 38px;
  line-height: 46px;
  color: #083257;
  font-weight: 600;
  margin-bottom: 20px;
}

.prefrences-section .prefrences-body {
  min-height: calc(100vh - 360px);
}

.prefrences-section .prefrences-body .prefrences-tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.prefrences-section .prefrences-body .prefrences-tab ul li a {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  padding: 0 5px;
  font-weight: 600;
  padding-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 70px;
  border-bottom: 3px solid #fff;
}

.prefrences-section .prefrences-body .prefrences-tab ul li a.active {
  border-bottom: 3px solid #F98D29;
}

.prefrences-section .prefrences-body .prefrences-content {
  padding: 40px 0;
}

.prefrences-section .prefrences-body .prefrences-content .max-700 {
  max-width: 700px;
  width: 100%;
  padding-right: 30px;
}

.prefrences-section .prefrences-body .prefrences-content .max-955 {
  max-width: 955px;
  width: 100%;
  padding-right: 10px;
}

.prefrences-section .prefrences-body .prefrences-content .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 26px;
}

.prefrences-section .prefrences-body .prefrences-content .form-group label {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 5px;
}

.prefrences-section .prefrences-body .prefrences-content .form-group .form-control {
  border: 1px solid #EAEAEA !important;
  height: 46px;
  padding-left: 20px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  overflow: hidden;
  outline: 0;
  border-radius: 10px;
}

.prefrences-section .prefrences-body .prefrences-content .room-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.prefrences-section .prefrences-body .prefrences-content .room-link a {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-right: 10px;
  font-weight: 500;
}

.prefrences-section .prefrences-body .prefrences-content .room-link .form-control {
  max-width: 165px;
  width: 100%;
}

.prefrences-section .prefrences-body .prefrences-content .select2-container {
  width: calc(100% - 0px) !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  margin-right: 0px;
}

.prefrences-section .prefrences-body .prefrences-content .select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 45px;
  line-height: 40px;
  font-size: 18px;
  color: #000;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.prefrences-section .prefrences-body .prefrences-content .select2-container--default .select2-selection--single {
  height: 45px;
  line-height: 40px;
  font-size: 18px;
  color: #000;
  font-weight: 500;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 12px;
  outline: none;
  border-radius: 10px !important;
  border: 1px solid #D6E3F5 !important;
  margin-right: 60px;
}

.prefrences-section .prefrences-body .prefrences-content .select2-selection__placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
}

.prefrences-section .prefrences-body .prefrences-content .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 45px;
  width: 45px;
  min-width: 45px;
  height: 45px;
  background: transparent linear-gradient(132deg, #0072FF 0%, #00C6FF 100%) 0% 0% no-repeat padding-box;
  border-radius: 10px !important;
  right: 0px;
}

.prefrences-section .prefrences-body .prefrences-content .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.prefrences-section .prefrences-body .prefrences-content .select2-container--default .select2-selection--single .select2-selection__arrow::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg id='arrow-down' xmlns='http://www.w3.org/2000/svg' width='12' height='7.41' viewBox='0 0 12 7.41'%3E%3Cpath id='Path_26' data-name='Path 26' d='M7.41,7.84,12,12.42l4.59-4.58L18,9.25l-6,6-6-6Z' transform='translate(-6 -7.84)' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-size: auto;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 45px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.prefrences-section .prefrences-body .prefrences-content .select2-container--open .select2-selection__arrow:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(-180deg) !important;
          transform: rotate(-180deg) !important;
}

.prefrences-section .prefrences-body .prefrences-content .custom-control.custom-checkbox.custom-checkbox-2 label {
  font-weight: 600;
  margin-bottom: 26px;
}

.prefrences-section .prefrences-body .prefrences-content .mt-40 {
  margin-top: 40px;
}

.prefrences-section .prefrences-footer .prefrence-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .shedule-session-section .shecdule-herader {
    margin-bottom: 30px;
  }
  .shedule-session-section .shecdule-herader h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .shedule-session-section .schedule-body .schdule-left {
    width: 100%;
  }
  .shedule-session-section .schedule-body .schdule-left .upload-div {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
  .shedule-session-section .schedule-body .schdule-left .upload-div .img-upload {
    height: 100px;
    width: 100px;
  }
  .shedule-session-section .schedule-body .schdule-left .upload-div .custom-file label {
    text-align: center;
  }
  .shedule-session-section .schedule-body .schdule-right {
    width: 100%;
    min-width: unset;
    padding-left: 0;
  }
  .shedule-session-section .schedule-body .schdule-right form .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shedule-session-section .schedule-body .schdule-right form .form-group .form-label {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }
  .shedule-session-section .schedule-body .schdule-right form .form-group .form-input {
    width: 100%;
    max-width: unset;
  }
  .shedule-session-section .schedule-body .schdule-right form .form-group .form-input .mobile-pad-2 {
    margin-bottom: 15px;
  }
  .shedule-session-section .schedule-body .schdule-right form .form-group .form-input .mobile-pad-2:last-child {
    margin-bottom: 0px;
  }
  .shedule-session-section .schedule-body .schdule-right form .form-group .custom-checkbox.custom-checkbox-2 {
    max-width: unset;
  }
  .add-attendees-section .heading h3 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .add-attendees-section .attendees-body .form-group {
    margin-bottom: 20px;
  }
  .add-attendees-section .attendees-body .form-group label {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .add-attendees-section .attendees-body .btn.btn-custom.btn-60 {
    height: 50px;
    font-size: 16px;
    line-height: 20px;
  }
  .add-attendees-section .attendees-footer .btn {
    margin: 0 6px !important;
  }
  .add-attendees-section .upcoming-attendees-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .add-attendees-section .upcoming-attendees-footer .btn {
    width: calc(50% - 12px);
    margin-bottom: 10px !important;
  }
  .add-attendees-section .upcoming-attendees-footer .btn:last-child {
    width: 100%;
    min-width: 240px;
    margin-bottom: 10px !important;
  }
  .invalid-feedback {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .prefrences-section .prefrences-herader h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .prefrences-section .prefrences-body .prefrences-tab ul li a {
    margin-right: 10px;
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
  }
  .prefrences-section .prefrences-body .prefrences-content {
    padding: 20px 0;
  }
  .prefrences-section .prefrences-body .prefrences-content .form-group {
    margin-bottom: 20px;
  }
  .prefrences-section .prefrences-body .prefrences-content .form-group label {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .prefrences-section .prefrences-body .prefrences-content .custom-checkbox.custom-checkbox-2.custom-checkbox-2.black .custom-control-label {
    font-size: 16px;
    line-height: 20px;
  }
  .prefrences-section .prefrences-body .prefrences-content .max-700 {
    padding-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .shedule-session-section .schedule-body .schdule-left {
    width: 100% !important;
  }
  .shedule-session-section .schedule-body .schdule-left .upload-div {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
    width: 100%;
  }
  .shedule-session-section .schedule-body .schdule-left .upload-div .img-upload {
    height: 167px;
    width: 167px;
  }
  .shedule-session-section .schedule-body .schdule-left .upload-div .custom-file label {
    text-align: center;
  }
}
/*# sourceMappingURL=shedule-session.css.map */